projekta faili/PPSolutions/Workflows/Copyof-kadieraksttsdienasgrmat-9F1E8215-74FE-EA11-A813-000D3AB8CD41.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hd_sharedcommondataserviceforapps_5b78a"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"when_dienasgramats_ieraksts_created":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"cr36b_dienasgramatsieraksti","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"dabūt_full_info_par_skolnieka_h_ierakst":{"runAfter":{"get_info_about_skolnieks":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolniekastundases","recordId":"@triggerOutputs()?['body/_cr36b_skolniekastundas_value']"},"authentication":"@parameters('$authentication')"}},"Update_a_record":{"runAfter":{"dabūt_full_info_par_skolnieka_h_ierakst":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolniekastundases","recordId":"@triggerOutputs()?['body/_cr36b_skolniekastundas_value']","item/cr36b_nostradatasstundas":"@add(outputs('dabūt_full_info_par_skolnieka_h_ierakst')?['body/cr36b_nostradatasstundas'],8)"},"authentication":"@parameters('$authentication')"}},"relate_to_skolas_account":{"runAfter":{"Update_a_record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('get_info_about_skolnieka_prakse')?['body/_cr36b_skolpraktoskolacc_value']","associationEntityRelationship":"cr36b_DienasGramatsIeraksti_Account","item/@odata.id":"@outputs('get_info_about_dienasgramatas_ieraksts')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"get_info_about_skolnieks":{"runAfter":{"get_info_about_skolnieka_prakse":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolniekses","recordId":"@outputs('get_info_about_skolnieka_prakse')?['body/_cr36b_skolnieks_value']"},"authentication":"@parameters('$authentication')"}},"get_info_about_skolnieka_prakse":{"runAfter":{"get_info_about_dienasgramatas_ieraksts":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolniekaprakses","recordId":"@outputs('get_info_about_dienasgramatas_ieraksts')?['body/_cr36b_skolniekaprakse_value']"},"authentication":"@parameters('$authentication')"}},"get_info_about_dienasgramatas_ieraksts":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_dienasgramatsierakstis","recordId":"@triggerOutputs()?['body/cr36b_dienasgramatsierakstiid']"},"authentication":"@parameters('$authentication')"}},"relate_to_uznemums_account":{"runAfter":{"relate_to_skolas_account":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('get_info_about_skolnieka_prakse')?['body/_cr36b_skolpraktobisacc_value']","associationEntityRelationship":"cr36b_DienasGramatsIeraksti_Account","item/@odata.id":"@outputs('get_info_about_dienasgramatas_ieraksts')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"Update_skolnieka_prakse_last_dienasgramatas_ieraksts":{"runAfter":{"relate_to_uznemums_account":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolniekaprakses","recordId":"@outputs('get_info_about_skolnieka_prakse')?['body/cr36b_skolniekaprakseid']","item/cr36b_pedejaisierakstisanasdatums":"@triggerOutputs()?['body/cr36b_datumsreal']"},"authentication":"@parameters('$authentication')"}},"Create_a_new_record_activity_feed":{"runAfter":{"Convert_time_zone":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_activityfeeds","item/cr36b_datumsunlaiks":"@formatDateTime(body('Convert_time_zone'),'dd.MM.yyyy hh:mm')","item/cr36b_kodarija":"Izveidoja diensagramats ierakstu šajā datumā - @{formatDateTime(body('Convert_time_zone'),'dd.MM.yyyy')}"},"authentication":"@parameters('$authentication')"}},"Current_time":{"runAfter":{"get_info_about_skolnieks":["Succeeded"]},"type":"Expression","kind":"CurrentTime","inputs":{}},"relate_activity_feed_to_who_did_it":{"runAfter":{"Create_a_new_record_activity_feed":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@outputs('get_info_about_skolnieka_prakse')?['body/_cr36b_contact_value']","associationEntityRelationship":"cr36b_Activityfeed_kasizpildija_Contact","item/@odata.id":"@outputs('Create_a_new_record_activity_feed')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"relate_activity_feed_to_uzn_prakses_vaditajs":{"runAfter":{"relate_activity_feed_to_who_did_it":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@outputs('get_info_about_skolnieka_prakse')?['body/_cr36b_contacttouznprvad_value']","associationEntityRelationship":"cr36b_kasredz","item/@odata.id":"@outputs('Create_a_new_record_activity_feed')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"Convert_time_zone":{"runAfter":{"Current_time":["Succeeded"]},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@body('Current_time')","formatString":"f","sourceTimeZone":"UTC","destinationTimeZone":"FLE Standard Time"}},"Compose":{"runAfter":{"Update_skolnieka_prakse_last_dienasgramatas_ieraksts":["Succeeded"]},"type":"Compose","inputs":"@sub(int(substring(outputs('get_info_about_dienasgramatas_ieraksts')?['body/cr36b_darbubeidzureal'],0,2)),\r\n int(substring(outputs('get_info_about_dienasgramatas_ieraksts')?['body/cr36b_darbusakureal'],0,2)))\r\n "},"update_worked_hours_in_dien_ieraksts":{"runAfter":{"Compose":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_dienasgramatsierakstis","recordId":"@outputs('get_info_about_dienasgramatas_ieraksts')?['body/cr36b_dienasgramatsierakstiid']","item/hd_nostradatasstundas":"@outputs('Compose')"},"authentication":"@parameters('$authentication')"}},"relate_activity_feed_to_skol_prakses_vaditajs_2":{"runAfter":{"relate_activity_feed_to_uzn_prakses_vaditajs":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@outputs('get_info_about_skolnieka_prakse')?['body/_crc06_contacttoskolprvad_value']","associationEntityRelationship":"cr36b_kasredz","item/@odata.id":"@outputs('Create_a_new_record_activity_feed')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}