projekta faili/PPSolutions/Workflows/createactivityfeedforpraksesatcelanas-943419BA-0419-EB11-A813-000D3AB8CD41.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"new_sharedcommondataserviceforapps_ead29"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"when_skolnieka_prakse_updated_for_cancelling":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"cr36b_skolniekaprakse","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"},"conditions":[{"expression":"@equals(triggerOutputs()?['body/cr36b_pieteiktsatcelsanai'],'True')"}]}},"actions":{"Create_a_new_record_activity_feed":{"runAfter":{"Convert_time_zone":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_activityfeeds","item/cr36b_datumsunlaiks":"@formatDateTime(body('Convert_time_zone'),'dd.MM.yyyy hh:mm')","item/cr36b_kodarija":"Jauna prakse pieteikta atcelšanai"},"authentication":"@parameters('$authentication')"}},"Current_time":{"runAfter":{"get_full_info_on_skolnieka_prakses_skola":["Succeeded"]},"type":"Expression","kind":"CurrentTime","inputs":{}},"get_full_info_on_skolnieka_prakse":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolniekaprakses","recordId":"@triggerOutputs()?['body/cr36b_skolniekaprakseid']"},"authentication":"@parameters('$authentication')"}},"get_full_info_on_skolnieka_prakses_skola":{"runAfter":{"get_full_info_on_skolnieka_prakse":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('get_full_info_on_skolnieka_prakse')?['body/_cr36b_skolpraktoskolacc_value']"},"authentication":"@parameters('$authentication')"}},"relate_act_feed_to_skol_admin":{"runAfter":{"Create_a_new_record_activity_feed":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@outputs('get_full_info_on_skolnieka_prakses_skola')?['body/_primarycontactid_value']","associationEntityRelationship":"cr36b_kasredz","item/@odata.id":"@outputs('Create_a_new_record_activity_feed')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"Convert_time_zone":{"runAfter":{"Current_time":["Succeeded"]},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@body('Current_time')","formatString":"f","sourceTimeZone":"UTC","destinationTimeZone":"FLE Standard Time"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}