projekta faili/PPSolutions/Workflows/createandsendinvitationtonewportaluser-E39322EA-3B1F-EB11-A813-000D3AB7CB08.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_office365":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"when_contact_created":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"contact","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"create_invitation":{"runAfter":{"get_full_info_about_contact":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"adx_invitations","item/adx_name":"@{triggerOutputs()?['body/fullname']}- portal invitation","item/adx_type":756150000,"item/adx_maximumredemptions":1},"authentication":"@parameters('$authentication')"}},"relate_invitation_to_website":{"runAfter":{"create_invitation":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"adx_websites","recordId":"f46b70cc-580b-4f1a-87c3-41deb48eb90d","associationEntityRelationship":"adx_invitation_website","item/@odata.id":"@outputs('create_invitation')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"Relate_invitation_to_contact":{"runAfter":{"relate_invitation_to_website":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@outputs('get_full_info_about_contact')?['body/contactid']","associationEntityRelationship":"adx_invitation_invitecontact","item/@odata.id":"@outputs('create_invitation')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"get_full_info_about_contact":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@triggerOutputs()?['body/contactid']"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)":{"runAfter":{"Relate_invitation_to_contact":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('get_full_info_about_contact')?['body/emailaddress1']","emailMessage/Subject":"Uzaicinājums uz eprakse.lv","emailMessage/Body":"<p>Sveiki, @{outputs('get_full_info_about_contact')?['body/fullname']}! </p><br>\n<br>\nJūs izveidojāt pieteikumu, vai jums izveidoja lietotāju eprakse.lv<br>\n<a href=\"https://epraksedev.powerappsportals.com/lv-LV/Register?returnUrl=%2Flv-LV%2F&invitation=@{outputs('create_invitation')?['body/adx_invitationcode']}\">Spiediet šeit, lai pabeigtu jūsu reģistrāciju.</a><br>\n<br>\nAr cieņu,<br>\n<a href=\"https://epraksedev.powerappsportals.com/\">eprakse.lv</a></p>"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}