projekta faili/PPSolutions/Workflows/kadaugupieldeexceliarskolasinformciju-B1D07371-72F6-EA11-A815-000D3AB8CD41.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hd_sharedcommondataserviceforapps_c1dab"},"api":{"name":"shared_commondataserviceforapps"}},"shared_excelonlinebusiness":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hd_sharedexcelonlinebusiness_e89da"},"api":{"name":"shared_excelonlinebusiness"}},"shared_onedriveforbusiness_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hd_sharedonedriveforbusiness_20308"},"api":{"name":"shared_onedriveforbusiness"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Kad_tiek_augšup_ielādēts_fails_(note)":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"annotation","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"concurrency":{"runs":1}}}},"actions":{"start_position":{"runAfter":{"Condition":["Succeeded"]},"type":"Expression","kind":"IndexOf","inputs":{"text":"@triggerOutputs()?['body/subject']","searchText":"["}},"endposition":{"runAfter":{"start_position":["Succeeded"]},"type":"Expression","kind":"IndexOf","inputs":{"text":"@triggerOutputs()?['body/subject']","searchText":"]"}},"Compose_length_of_substring":{"runAfter":{"Compose_start_of_substring":["Succeeded"]},"type":"Compose","inputs":"@sub(outputs('endposition')?['body'], outputs('Compose_start_of_substring'))"},"Compose_start_of_substring":{"runAfter":{"endposition":["Succeeded"]},"type":"Compose","inputs":"@add(outputs('start_position')?['body'],9)"},"Get_Contact_which_uploaded_file":{"runAfter":{"Get_Contact_ID":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@outputs('Get_Contact_ID')?['body']"},"authentication":"@parameters('$authentication')"}},"Get_Contact_ID":{"runAfter":{"Compose_length_of_substring":["Succeeded"]},"type":"Expression","kind":"Substring","inputs":{"text":"@triggerOutputs()?['body/subject']","startingPosition":"@outputs('Compose_start_of_substring')","length":"@outputs('Compose_length_of_substring')"}},"Prakses_vaditaji_skola":{"actions":{"Liste_ar_skolas_prakses_vaditajiem_2":{"runAfter":{},"metadata":{"015R4W5BJEFOKZQZBYTNAIFVCUGZZ5IMDN":"/PraksesVaditajiSkola.xlsx","tableId":"{3E043CB5-D2B4-4ED9-BDAC-FA463BBE9635}","015R4W5BN6LFRYTGIQWFHJLSE5XFYDLOF5":"/PraksesVaditajiSkola.xlsx","015R4W5BLX3G235KYAYNCJLJKPVSGPFYVC":"/Merged.xlsx","015R4W5BNQUV3KN2FDZFG2UUXM3JQFZPSV":"/Skolas Dati.xlsx","015R4W5BL7KHDIS2BOKNE3J7BBRIMUK5ZN":"/Skolas Dati.xlsx","015R4W5BJUT57URRZZYZH23QAR2MSA3YOT":"/Skolas Dati.xlsx","015R4W5BLDYFHM5SV2IBGKN2AE2SBA7FL5":"/Skolas Dati.xlsx","015R4W5BNGUGKIYVO675C2MRMNLYBAM77Q":"/Skolas Dati.xlsx","01SLM2KIZJLV3WYMHXEFCKYKGZFDO4JKEC":"/eprakse uploaded files/Skolas Dati.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"me","drive":"b!6UU0GdzgT0Wvf-97zSQ3J3Si0QlIdwhDhkVmh_mTfj_S544ZoUmhSZiqz8J99sMj","file":"01SLM2KIZJLV3WYMHXEFCKYKGZFDO4JKEC","table":"{3E043CB5-D2B4-4ED9-BDAC-FA463BBE9635}"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":5000}}},"for_each_row_in_table_2":{"foreach":"@body('Filter_array')","actions":{"Create_a_new_record_in_prakses_vaditaji_skola_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_praksesvaditajiskolas","item/cr36b_talrunis":"@items('for_each_row_in_table_2')?['Tālrunis']","item/cr36b_epasts":"@items('for_each_row_in_table_2')?['Epasts']","item/cr36b_uzvards":"@items('for_each_row_in_table_2')?['Uzvards']","item/cr36b_vards":"@items('for_each_row_in_table_2')?['Vards']"},"authentication":"@parameters('$authentication')"}},"Relate_prakses_vad_contact_with_school_(gotten_from_note_upload)":{"runAfter":{"Create_prakses_vad_Contact":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolases","recordId":"@outputs('Get_Contact_which_uploaded_file')?['body/_cr36b_skolas_value']","associationEntityRelationship":"cr36b_Contact_cr36b_Skolas_cr36b_Skolas","item/@odata.id":"@outputs('Create_prakses_vad_Contact')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"Create_prakses_vad_Contact":{"runAfter":{"Create_a_new_record_in_prakses_vaditaji_skola_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","item/lastname":"@items('for_each_row_in_table_2')?['Uzvards']","item/emailaddress1":"@items('for_each_row_in_table_2')?['Epasts']","item/firstname":"@items('for_each_row_in_table_2')?['Vards']","item/jobtitle":"SKOLAS PRAKSES VADITAJS","item/mobilephone":"@items('for_each_row_in_table_2')?['Tālrunis']"},"authentication":"@parameters('$authentication')"}},"Relate_praks_vad_with_school":{"runAfter":{"Relate_prakses_vad_contact_with_school_(gotten_from_note_upload)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolases","recordId":"@outputs('Get_Contact_which_uploaded_file')?['body/_cr36b_skolas_value']","associationEntityRelationship":"cr36b_PraksesVaditajiskola_cr36b_Skolas_c","item/@odata.id":"@outputs('Create_a_new_record_in_prakses_vaditaji_skola_2')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"iedot_skolas_prakses_vaditajam_lomu":{"runAfter":{"Relate_praks_vad_with_school":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"adx_webroles","recordId":"73fe2da8-a3ee-ea11-a817-000d3ab8cd41","associationEntityRelationship":"adx_webrole_contact","item/@odata.id":"@outputs('Create_prakses_vad_Contact')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"relate_contact_to_account":{"runAfter":{"iedot_skolas_prakses_vaditajam_lomu":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Get_Contact_which_uploaded_file')?['body/_parentcustomerid_value']","associationEntityRelationship":"contact_customer_accounts","item/@odata.id":"@outputs('Create_prakses_vad_Contact')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"relate_database_entry_to_account":{"runAfter":{"relate_contact_to_account":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Get_Contact_which_uploaded_file')?['body/_parentcustomerid_value']","associationEntityRelationship":"cr36b_PraksesVaditajiskola_Account_Accoun","item/@odata.id":"@outputs('Create_a_new_record_in_prakses_vaditaji_skola_2')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"relate_contact_to_account_for_choice":{"runAfter":{"relate_database_entry_to_account":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Get_Contact_which_uploaded_file')?['body/_parentcustomerid_value']","associationEntityRelationship":"cr36b_related_accounts","item/@odata.id":"@outputs('Create_prakses_vad_Contact')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Filter_array":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":20}}},"Filter_array":{"runAfter":{"Liste_ar_skolas_prakses_vaditajiem_2":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('Liste_ar_skolas_prakses_vaditajiem_2')?['body/value']","where":"@not(equals(item()?['Tālrunis'], ''))"}}},"runAfter":{"Create_file":["Succeeded","Skipped"]},"type":"Scope"},"delay_if_locked":{"runAfter":{"Create_file_2":["Failed"]},"type":"Wait","inputs":{"interval":{"count":10,"unit":"Minute"}}},"Delay_for_1_second,_so_i_can_parallel_next_pair":{"runAfter":{"Prakses_vaditaji_skola":["Succeeded"]},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}},"Skolas_Grupas":{"actions":{"Liste_ar_skolas_grupam":{"runAfter":{},"metadata":{"015R4W5BLX3G235KYAYNCJLJKPVSGPFYVC":"/Merged.xlsx","tableId":"{295F5898-F792-48A2-B468-DA35A70C1BB0}","015R4W5BNQUV3KN2FDZFG2UUXM3JQFZPSV":"/Skolas Dati.xlsx","015R4W5BL7KHDIS2BOKNE3J7BBRIMUK5ZN":"/Skolas Dati.xlsx","015R4W5BJUT57URRZZYZH23QAR2MSA3YOT":"/Skolas Dati.xlsx","015R4W5BLDYFHM5SV2IBGKN2AE2SBA7FL5":"/Skolas Dati.xlsx","015R4W5BNGUGKIYVO675C2MRMNLYBAM77Q":"/Skolas Dati.xlsx","01SLM2KIZJLV3WYMHXEFCKYKGZFDO4JKEC":"/eprakse uploaded files/Skolas Dati.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"me","drive":"b!6UU0GdzgT0Wvf-97zSQ3J3Si0QlIdwhDhkVmh_mTfj_S544ZoUmhSZiqz8J99sMj","file":"01SLM2KIZJLV3WYMHXEFCKYKGZFDO4JKEC","table":"{295F5898-F792-48A2-B468-DA35A70C1BB0}"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":5000}}},"For_each_Grupa":{"foreach":"@body('Filter_array_3')","actions":{"Izveidot_grupu":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_grupases","item/cr36b_nosaukums":"@items('For_each_Grupa')?['Nosaukums']","item/cr36b_macgads":"@items('For_each_Grupa')?['Mācību Gads']","item/cr36b_tekosaismacibugads":"@items('For_each_Grupa')?['Mācību Gads']"},"authentication":"@parameters('$authentication')"}},"Savieno_skolu_ar_grupu":{"runAfter":{"Izveidot_grupu":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolases","recordId":"@outputs('Get_Contact_which_uploaded_file')?['body/_cr36b_skolas_value']","associationEntityRelationship":"cr36b_Grupas_cr36b_Skolas_cr36b_Skolas","item/@odata.id":"@outputs('Izveidot_grupu')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"get_profesijas_id":{"runAfter":{"Savieno_skolu_ar_grupu":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_profesijases","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n<entity name=\"cr36b_profesijas\">\n<attribute name=\"cr36b_profesijasid\"/>\n<attribute name=\"cr36b_nosaukums\"/>\n<filter>\n<condition attribute=\"cr36b_nosaukums\" operator=\"eq\" value=\"@{items('For_each_Grupa')?['Profesija']}\"/>\n</filter>\n</entity>\n</fetch>","$top":1},"authentication":"@parameters('$authentication')"}},"savieno_profesija_ar_grupu_multi":{"foreach":"@outputs('get_profesijas_id')?['body/value']","actions":{"savieno_profesiju_ar_grupu":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_profesijases","recordId":"@items('savieno_profesija_ar_grupu_multi')?['cr36b_profesijasid']","associationEntityRelationship":"cr36b_Grupas_cr36b_Profesijas_cr36b_Profe","item/@odata.id":"@outputs('Izveidot_grupu')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"get_profesijas_id":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":20}}},"relate_grupa_to_account":{"runAfter":{"savieno_profesija_ar_grupu_multi":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Get_Contact_which_uploaded_file')?['body/_parentcustomerid_value']","associationEntityRelationship":"cr36b_Grupas_Account_Account","item/@odata.id":"@outputs('Izveidot_grupu')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Filter_array_3":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":20}}},"Filter_array_3":{"runAfter":{"Liste_ar_skolas_grupam":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('Liste_ar_skolas_grupam')?['body/value']","where":"@not(equals(item()?['Nosaukums'], ''))"}}},"runAfter":{"Delay_for_1_second,_so_i_can_parallel_next_pair":["Succeeded"]},"type":"Scope"},"Skolas_praktikanti":{"actions":{"For_each_Praktikants":{"foreach":"@body('Filter_array_5')","actions":{"check_if_skolnieka_contact_already_exists":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"contact\">\n    <attribute name=\"fullname\" />\n    <attribute name=\"telephone1\" />\n    <attribute name=\"contactid\" />\n    <order attribute=\"fullname\" descending=\"false\" />\n    <filter type=\"and\">\n      <filter type=\"and\">\n        <condition attribute=\"firstname\" operator=\"eq\" value=\"@{items('For_each_Praktikants')?['Vards']}\" />\n        <condition attribute=\"lastname\" operator=\"eq\" value=\"@{items('For_each_Praktikants')?['Uzvards']}\" />\n        <condition attribute=\"mobilephone\" operator=\"eq\" value=\"@{items('For_each_Praktikants')?['Talrunis']}\" />\n      </filter>\n    </filter>\n  </entity>\n</fetch>","$top":1},"authentication":"@parameters('$authentication')"}},"if_contact_exists":{"actions":{"get_contact":{"foreach":"@outputs('check_if_skolnieka_contact_already_exists')?['body/value']","actions":{"Get_contact_which_exists":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@items('get_contact')?['contactid']"},"authentication":"@parameters('$authentication')"}},"change_skolas_relation_to_the_one_which_uploaded":{"runAfter":{"Get_contact_which_exists":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolases","recordId":"@outputs('Get_Contact_which_uploaded_file')?['body/_cr36b_skolas_value']","associationEntityRelationship":"cr36b_Contact_cr36b_Skolas_cr36b_Skolas","item/@odata.id":"@outputs('Get_contact_which_exists')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"relate_contact_to_skolas_account":{"runAfter":{"change_skolas_relation_to_the_one_which_uploaded":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Get_Contact_which_uploaded_file')?['body/_parentcustomerid_value']","associationEntityRelationship":"contact_customer_accounts","item/@odata.id":"@outputs('Get_contact_which_exists')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"},"get_skolnieks":{"runAfter":{"get_contact":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolniekses","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"cr36b_skolnieks\">\n    <attribute name=\"cr36b_skolnieksid\" />\n    <attribute name=\"cr36b_talrunis\" />\n    <attribute name=\"createdon\" />\n    <order attribute=\"cr36b_talrunis\" descending=\"false\" />\n    <filter type=\"and\">\n      <filter type=\"and\">\n        <condition attribute=\"cr36b_vards\" operator=\"eq\" value=\"@{items('For_each_Praktikants')?['Vards']}\" />\n        <condition attribute=\"cr36b_uzvards\" operator=\"eq\" value=\"@{items('For_each_Praktikants')?['Uzvards']}\" />\n        <condition attribute=\"cr36b_talrunisreal\" operator=\"eq\" value=\"@{items('For_each_Praktikants')?['Talrunis']}\" />\n      </filter>\n    </filter>\n  </entity>\n</fetch>","$top":1},"authentication":"@parameters('$authentication')"}},"skolnieks_database_updates":{"foreach":"@outputs('get_skolnieks')?['body/value']","actions":{"get_full_info_about_skolnieks":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolniekses","recordId":"@items('skolnieks_database_updates')?['cr36b_skolnieksid']"},"authentication":"@parameters('$authentication')"}},"relate_skolnieks_to_new_school_acc":{"runAfter":{"get_full_info_about_skolnieks":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Get_Contact_which_uploaded_file')?['body/_parentcustomerid_value']","associationEntityRelationship":"cr36b_Skolnieks_Account_Account","item/@odata.id":"@outputs('get_full_info_about_skolnieks')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"update_skolas_reģ_nr":{"runAfter":{"relate_skolnieks_to_new_school_acc":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolniekses","recordId":"@outputs('get_full_info_about_skolnieks')?['body/cr36b_skolnieksid']","item/cr36b_perskods":"@items('For_each_Praktikants')?['RegKods']"},"authentication":"@parameters('$authentication')"}},"Dabūt_grupas_id_2":{"runAfter":{"update_skolas_reģ_nr":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_grupases","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n<entity name=\"cr36b_grupas\">\n<attribute name=\"cr36b_grupasid\"/>\n<attribute name=\"cr36b_nosaukums\"/>\n<filter>\n<condition attribute=\"cr36b_nosaukums\" operator=\"eq\" value=\"@{items('For_each_Praktikants')?['Grupa']}\"/>\n</filter>\n</entity>\n</fetch>","$top":1},"authentication":"@parameters('$authentication')"}},"skol_rel_to_grupa":{"foreach":"@outputs('Dabūt_grupas_id_2')?['body/value']","actions":{"relate_skolnieks_to_correct_grupa":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_grupases","recordId":"@items('skol_rel_to_grupa')?['cr36b_grupasid']","associationEntityRelationship":"cr36b_Skolnieks_cr36b_Grupas_cr36b_Grupas","item/@odata.id":"@outputs('get_full_info_about_skolnieks')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Dabūt_grupas_id_2":["Succeeded"]},"type":"Foreach"},"Apply_to_each":{"foreach":"@outputs('check_if_skolnieka_contact_already_exists')?['body/value']","actions":{"Unrelate_records":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"DisassociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@items('Apply_to_each')?['_parentcustomerid_value']","associationEntityRelationship":"cr36b_related_accounts","$id":"@items('Apply_to_each')?['@odata.id']"},"authentication":"@parameters('$authentication')"}},"Relate_records":{"runAfter":{"Unrelate_records":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Get_Contact_which_uploaded_file')?['body/_parentcustomerid_value']","associationEntityRelationship":"cr36b_related_accounts","item/@odata.id":"@items('Apply_to_each')?['@odata.id']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"skol_rel_to_grupa":["Succeeded"]},"type":"Foreach"}},"runAfter":{"get_skolnieks":["Succeeded"]},"type":"Foreach"}},"runAfter":{"check_if_skolnieka_contact_already_exists":["Succeeded"]},"else":{"actions":{"insert_skolnieks_into_database":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolniekses","item/cr36b_epasts":"@items('For_each_Praktikants')?['Skolas Epasts']","item/cr36b_perskods":"@items('For_each_Praktikants')?['RegKods']","item/statuscode":1,"item/cr36b_talrunisreal":"@items('For_each_Praktikants')?['Talrunis']","item/cr36b_uzvards":"@items('For_each_Praktikants')?['Uzvards']","item/cr36b_vards":"@items('For_each_Praktikants')?['Vards']"},"authentication":"@parameters('$authentication')"}},"Dabūt_grupas_id":{"runAfter":{"insert_skolnieks_into_database":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_grupases","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n<entity name=\"cr36b_grupas\">\n<attribute name=\"cr36b_grupasid\"/>\n<attribute name=\"cr36b_nosaukums\"/>\n<filter type=\"and\">\n      <condition attribute=\"cr36b_skolas\" operator=\"eq\"  uitype=\"cr36b_skolas\" value=\"@{outputs('Get_Contact_which_uploaded_file')?['body/_cr36b_skolas_value']}\" />\n<condition attribute=\"cr36b_nosaukums\" operator=\"eq\" value=\"@{items('For_each_Praktikants')?['Grupa']}\"/>\n</filter>\n</entity>\n</fetch>","$top":1},"authentication":"@parameters('$authentication')"}},"relate_grupa_to_skolnieks":{"foreach":"@outputs('Dabūt_grupas_id')?['body/value']","actions":{"Sasaistīt_grupu_ar_skolnieku":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_grupases","recordId":"@items('relate_grupa_to_skolnieks')?['cr36b_grupasid']","associationEntityRelationship":"cr36b_Skolnieks_cr36b_Grupas_cr36b_Grupas","item/@odata.id":"@outputs('insert_skolnieks_into_database')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Dabūt_grupas_id":["Succeeded"]},"type":"Foreach"},"Create_a_contact_for_skolnieks":{"runAfter":{"relate_grupa_to_skolnieks":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","item/lastname":"@items('For_each_Praktikants')?['Uzvards']","item/emailaddress1":"@items('For_each_Praktikants')?['Skolas Epasts']","item/firstname":"@items('For_each_Praktikants')?['Vards']","item/jobtitle":"PRAKTIKANTS","item/mobilephone":"@items('For_each_Praktikants')?['Talrunis']"},"authentication":"@parameters('$authentication')"}},"Relate_skola_to_contact":{"runAfter":{"Create_a_contact_for_skolnieks":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolases","recordId":"@outputs('Get_Contact_which_uploaded_file')?['body/_cr36b_skolas_value']","associationEntityRelationship":"cr36b_Contact_cr36b_Skolas_cr36b_Skolas","item/@odata.id":"@outputs('Create_a_contact_for_skolnieks')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"iedot_praktikantam_lomu":{"runAfter":{"Relate_skola_to_contact":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"adx_webroles","recordId":"14f801b2-a3ee-ea11-a817-000d3ab8cd41","associationEntityRelationship":"adx_webrole_contact","item/@odata.id":"@outputs('Create_a_contact_for_skolnieks')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"relate_contact_to_creators_company":{"runAfter":{"iedot_praktikantam_lomu":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Get_Contact_which_uploaded_file')?['body/_parentcustomerid_value']","associationEntityRelationship":"contact_customer_accounts","item/@odata.id":"@outputs('Create_a_contact_for_skolnieks')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"relate_database_skolnieks_to_account":{"runAfter":{"relate_contact_to_creators_company":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Get_Contact_which_uploaded_file')?['body/_parentcustomerid_value']","associationEntityRelationship":"cr36b_Skolnieks_Account_Account","item/@odata.id":"@outputs('insert_skolnieks_into_database')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"relate_contact_to_its_account_for_profile_visibility":{"runAfter":{"relate_database_skolnieks_to_account":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Get_Contact_which_uploaded_file')?['body/_parentcustomerid_value']","associationEntityRelationship":"cr36b_related_accounts","item/@odata.id":"@outputs('Create_a_contact_for_skolnieks')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}}},"expression":{"greater":["@length(outputs('check_if_skolnieka_contact_already_exists')?['body/value'])",0]},"type":"If","description":"length(outputs('check_if_skolnieka_contact_already_exists')?['body/value'])"}},"runAfter":{"Filter_array_5":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":40}}},"Liste_ar_skolniekiem":{"runAfter":{},"metadata":{"015R4W5BLX3G235KYAYNCJLJKPVSGPFYVC":"/Merged.xlsx","tableId":"{7DE536A8-CF2A-41DF-A35F-98241BCFA2A9}","015R4W5BNQUV3KN2FDZFG2UUXM3JQFZPSV":"/Skolas Dati.xlsx","015R4W5BL7KHDIS2BOKNE3J7BBRIMUK5ZN":"/Skolas Dati.xlsx","015R4W5BJUT57URRZZYZH23QAR2MSA3YOT":"/Skolas Dati.xlsx","015R4W5BLDYFHM5SV2IBGKN2AE2SBA7FL5":"/Skolas Dati.xlsx","015R4W5BNGUGKIYVO675C2MRMNLYBAM77Q":"/Skolas Dati.xlsx","01SLM2KIZJLV3WYMHXEFCKYKGZFDO4JKEC":"/eprakse uploaded files/Skolas Dati.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"me","drive":"b!6UU0GdzgT0Wvf-97zSQ3J3Si0QlIdwhDhkVmh_mTfj_S544ZoUmhSZiqz8J99sMj","file":"01SLM2KIZJLV3WYMHXEFCKYKGZFDO4JKEC","table":"{7DE536A8-CF2A-41DF-A35F-98241BCFA2A9}"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":5000}}},"Filter_array_5":{"runAfter":{"Liste_ar_skolniekiem":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('Liste_ar_skolniekiem')?['body/value']","where":"@not(equals(item()?['Talrunis'], ''))"}}},"runAfter":{"Delay":["Succeeded"]},"type":"Scope"},"Pārvērš_base64_uz_binary":{"runAfter":{"Get_Contact_which_uploaded_file":["Succeeded"]},"type":"Compose","inputs":"@base64ToBinary(triggerOutputs()?['body/documentbody'])"},"Delay":{"runAfter":{"Skolas_Grupas":["Succeeded"]},"type":"Wait","inputs":{"interval":{"count":5,"unit":"Second"}}},"Condition":{"actions":{"Terminate":{"runAfter":{},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{},"expression":{"not":{"equals":["@triggerOutputs()?['body/filename']","Skolas Dati.xlsx"]}},"type":"If"},"Create_file_2":{"runAfter":{"Pārvērš_base64_uz_binary":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_onedriveforbusiness_1","operationId":"CreateFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"},"parameters":{"folderPath":"/eprakse uploaded files","name":"Skolas dati.xlsx","body":"@outputs('Pārvērš_base64_uz_binary')"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Create_file":{"runAfter":{"delay_if_locked":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_onedriveforbusiness_1","operationId":"CreateFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"},"parameters":{"folderPath":"/eprakse uploaded files","name":"Skolas dati.xlsx","body":"@outputs('Pārvērš_base64_uz_binary')"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}},"Delete_a_record":{"runAfter":{"Skolas_praktikanti":["Succeeded","TimedOut","Skipped","Failed"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"annotations","recordId":"@triggerOutputs()?['body/annotationid']"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}