projekta faili/PPSolutions/Workflows/kadizveidovietuskaitu-9A1E8215-74FE-EA11-A813-000D3AB8CD41.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hd_sharedcommondataserviceforapps_c1dab"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"when_prakses_vietu_skaits_created":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"cr36b_praksesvietuskaits","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"get_contact":{"runAfter":{"Terminate":["Skipped"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@outputs('get_info_about_prakses_vietu_skaits')?['body/_cr36b_contact_value']"},"authentication":"@parameters('$authentication')"}},"get_info_about_prakses_vietu_skaits":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_praksesvietuskaitses","recordId":"@triggerOutputs()?['body/cr36b_praksesvietuskaitsid']"},"authentication":"@parameters('$authentication')"}},"Relate_records":{"runAfter":{"get_contact":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_uznemumis","recordId":"@outputs('get_contact')?['body/_cr36b_uznemumi_value']","associationEntityRelationship":"cr36b_PraksesVietuSkaits_cr36b_Uznemumi_c","item/@odata.id":"@outputs('get_info_about_prakses_vietu_skaits')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"append_to_uznemuma_looking_for":{"runAfter":{"Append_to_string_variable":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_uznemumis","recordId":"@outputs('get_contact')?['body/_cr36b_uznemumi_value']","item/new_lookingfor":"@variables('uznemuma looking for')"},"authentication":"@parameters('$authentication')"}},"get_uznemuma_record":{"runAfter":{"Relate_records":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_uznemumis","recordId":"@outputs('get_contact')?['body/_cr36b_uznemumi_value']"},"authentication":"@parameters('$authentication')"}},"Initialize_variable":{"runAfter":{"get_info_on_profesijas":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"uznemuma looking for","type":"string","value":"@outputs('get_uznemuma_record')?['body/new_lookingfor']"}]}},"Append_to_string_variable":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"AppendToStringVariable","inputs":{"name":"uznemuma looking for","value":"@if(equals(outputs('get_uznemuma_record')?['body/new_lookingfor'],null), string(outputs('get_info_on_profesijas')?['body/crc06_nosaukums']), concat(', ', outputs('get_info_on_profesijas')?['body/crc06_nosaukums']))"},"description":"if(equals(outputs('get_uznemuma_record')?['body/new_lookingfor'],null), string(outputs('get_info_on_profesijas')?['body/cr36b_nosaukums']), concat(', ', outputs('get_info_on_profesijas')?['body/cr36b_nosaukums']))"},"get_info_on_profesijas":{"runAfter":{"get_uznemuma_record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"crc06_augsprofesijases","recordId":"@outputs('get_info_about_prakses_vietu_skaits')?['body/_crc06_augsprofesijas_value']"},"authentication":"@parameters('$authentication')"}},"Terminate":{"runAfter":{"get_info_about_prakses_vietu_skaits":["Failed"]},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}