projekta faili/PPSolutions/Workflows/Kadizveidojaunuskolnieku-351BCA2C-EA0E-EB11-A813-000D3AB8CD41.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hd_sharedcommondataserviceforapps_c1dab"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"when_skolnieks_created":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"cr36b_skolnieks","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"},"conditions":[{"expression":"@not(equals(triggerOutputs()?['body/_cr36b_contact_value'],null))"}]}},"actions":{"get_contact_which_created_skolnieks":{"runAfter":{"get_full_info_about_skolnieks":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@triggerOutputs()?['body/_cr36b_contact_value']"},"authentication":"@parameters('$authentication')"}},"create_skolnieka_contact":{"runAfter":{"get_contact_which_created_skolnieks":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","item/lastname":"@triggerOutputs()?['body/cr36b_uzvards']","item/emailaddress1":"@triggerOutputs()?['body/cr36b_epasts']","item/firstname":"@triggerOutputs()?['body/cr36b_vards']","item/jobtitle":"PRAKTIKANTS","item/mobilephone":"@triggerOutputs()?['body/cr36b_talrunisreal']"},"authentication":"@parameters('$authentication')"}},"relate_skolnieka_contact_to_acc":{"runAfter":{"create_skolnieka_contact":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('get_contact_which_created_skolnieks')?['body/_parentcustomerid_value']","associationEntityRelationship":"contact_customer_accounts","item/@odata.id":"@outputs('create_skolnieka_contact')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"get_full_info_about_skolnieks":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolniekses","recordId":"@triggerOutputs()?['body/cr36b_skolnieksid']"},"authentication":"@parameters('$authentication')"}},"relate_to_related_accounts_for_visibility_purpouse":{"runAfter":{"relate_skolnieka_contact_to_acc":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('get_contact_which_created_skolnieks')?['body/_parentcustomerid_value']","associationEntityRelationship":"cr36b_related_accounts","item/@odata.id":"@outputs('create_skolnieka_contact')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"give_contact_web_role":{"runAfter":{"relate_to_related_accounts_for_visibility_purpouse":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"adx_webroles","recordId":"14f801b2-a3ee-ea11-a817-000d3ab8cd41","associationEntityRelationship":"adx_webrole_contact","item/@odata.id":"@outputs('create_skolnieka_contact')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}