projekta faili/PPSolutions/Workflows/Kadjaunsskolaspraksesvadtjasizveidots-AC5961CC-E70E-EB11-A813-000D3AB8CD41.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hd_sharedcommondataserviceforapps_c1dab"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"when_skolas_prakses_vaditajs_created":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"cr36b_praksesvaditajiskola","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"},"conditions":[{"expression":"@not(equals(triggerOutputs()?['body/_cr36b_contact_value'],null))"}]}},"actions":{"Get_contact_which_created_skolas_prakses_vaditajs":{"runAfter":{"get_full_info_about_prakses_vad":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@triggerOutputs()?['body/_cr36b_contact_value']"},"authentication":"@parameters('$authentication')"}},"create_contact_for_skolas_prakses_vaditajs":{"runAfter":{"Get_contact_which_created_skolas_prakses_vaditajs":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","item/lastname":"@triggerOutputs()?['body/cr36b_uzvards']","item/emailaddress1":"@triggerOutputs()?['body/cr36b_epasts']","item/firstname":"@triggerOutputs()?['body/cr36b_vards']","item/jobtitle":"SKOLAS PRAKSES VADĪTĀJS","item/mobilephone":"@triggerOutputs()?['body/cr36b_talrunis']"},"authentication":"@parameters('$authentication')"}},"relate_account_to_contact":{"runAfter":{"create_contact_for_skolas_prakses_vaditajs":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Get_contact_which_created_skolas_prakses_vaditajs')?['body/_parentcustomerid_value']","associationEntityRelationship":"contact_customer_accounts","item/@odata.id":"@outputs('create_contact_for_skolas_prakses_vaditajs')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"get_full_info_about_prakses_vad":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_praksesvaditajiskolas","recordId":"@triggerOutputs()?['body/cr36b_praksesvaditajiskolaid']"},"authentication":"@parameters('$authentication')"}},"relate_for_choosing":{"runAfter":{"relate_account_to_contact":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Get_contact_which_created_skolas_prakses_vaditajs')?['body/_parentcustomerid_value']","associationEntityRelationship":"cr36b_related_accounts","item/@odata.id":"@outputs('create_contact_for_skolas_prakses_vaditajs')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"give_contact_role":{"runAfter":{"relate_for_choosing":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"adx_webroles","recordId":"73fe2da8-a3ee-ea11-a817-000d3ab8cd41","associationEntityRelationship":"adx_webrole_contact","item/@odata.id":"@outputs('create_contact_for_skolas_prakses_vaditajs')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"relate_contact_to_skola":{"runAfter":{"give_contact_role":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolases","recordId":"@outputs('Get_contact_which_created_skolas_prakses_vaditajs')?['body/_cr36b_skolas_value']","associationEntityRelationship":"cr36b_Contact_cr36b_Skolas_cr36b_Skolas","item/@odata.id":"@outputs('create_contact_for_skolas_prakses_vaditajs')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}