projekta faili/PPSolutions/Workflows/kadpieirlietotajamlomas-1F9A68F2-372E-EB11-A813-002248993DCD.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}},"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"when_contact_has_changed_attr":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"contact","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"crc06_macibudaladatuadmin,crc06_macibudalapraksesmanager,"},"authentication":"@parameters('$authentication')"}}},"actions":{"check_val_of_liet_parvald":{"actions":{"give_lietotaj_parvaldnieks_to_contact":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"adx_webroles","recordId":"b309466e-722d-eb11-a813-002248993dcd","associationEntityRelationship":"adx_webrole_contact","item/@odata.id":"@outputs('full_info')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"full_info":["Succeeded"]},"else":{"actions":{"Unrelate_records":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"DisassociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"adx_webroles","recordId":"b309466e-722d-eb11-a813-002248993dcd","associationEntityRelationship":"adx_webrole_contact","$id":"@outputs('full_info')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@triggerOutputs()?['body/crc06_macibudaladatuadmin']",true]},"type":"If"},"check_prakses_parvald":{"actions":{"Relate_records":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"adx_webroles","recordId":"a23a9993-2620-eb11-a813-002248993dcd","associationEntityRelationship":"adx_webrole_contact","item/@odata.id":"@outputs('full_info')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"check_val_of_liet_parvald":["Succeeded"]},"else":{"actions":{"Unrelate_records_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"DisassociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"adx_webroles","recordId":"a23a9993-2620-eb11-a813-002248993dcd","associationEntityRelationship":"adx_webrole_contact","$id":"@outputs('full_info')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('full_info')?['body/crc06_macibudalapraksesmanager']",true]},"type":"If"},"full_info":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@triggerOutputs()?['body/contactid']"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}