projekta faili/PPSolutions/Workflows/kadpieskirsuperskolotajalomu-3F1C935A-2B20-EB11-A813-002248993DCD.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hd_sharedcommondataserviceforapps_c1dab"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"kad_pieskir_super_skolotaju":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"cr36b_praksesvaditajiskola","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"crc06_hassuperskolotajs"},"authentication":"@parameters('$authentication')"}}},"actions":{"get_full_info_on_skolotajs":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_praksesvaditajiskolas","recordId":"@triggerOutputs()?['body/cr36b_praksesvaditajiskolaid']"},"authentication":"@parameters('$authentication')"}},"list_contact_of_skolotajs":{"runAfter":{"get_full_info_on_skolotajs":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"contact\">\n    <attribute name=\"fullname\" />\n    <attribute name=\"telephone1\" />\n    <attribute name=\"contactid\" />\n    <order attribute=\"fullname\" descending=\"false\" />\n    <filter type=\"and\">\n      <filter type=\"and\">\n        <condition attribute=\"jobtitle\" operator=\"eq\" value=\"SKOLAS PRAKSES VADĪTĀJS\" />\n        <condition attribute=\"firstname\" operator=\"eq\" value=\"@{outputs('get_full_info_on_skolotajs')?['body/cr36b_vards']}\" />\n        <condition attribute=\"lastname\" operator=\"eq\" value=\"@{outputs('get_full_info_on_skolotajs')?['body/cr36b_uzvards']}\" />\n        <condition attribute=\"mobilephone\" operator=\"eq\" value=\"@{outputs('get_full_info_on_skolotajs')?['body/cr36b_talrunis']}\" />\n      </filter>\n    </filter>\n  </entity>\n</fetch>","$top":1},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('list_contact_of_skolotajs')?['body/value']","actions":{"give_super_skolotajs_role":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"adx_webroles","recordId":"a23a9993-2620-eb11-a813-002248993dcd","associationEntityRelationship":"adx_webrole_contact","item/@odata.id":"@items('Apply_to_each')?['@odata.id']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"list_contact_of_skolotajs":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}