projekta faili/PPSolutions/Workflows/kadpraksesnotikumsizveidots-A01E8215-74FE-EA11-A813-000D3AB8CD41.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hd_sharedcommondataserviceforapps_c1dab"},"api":{"name":"shared_commondataserviceforapps"}},"shared_excelonlinebusiness":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hd_sharedexcelonlinebusiness_e89da"},"api":{"name":"shared_excelonlinebusiness"}},"shared_onedriveforbusiness_2":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hd_sharedonedriveforbusiness_20308"},"api":{"name":"shared_onedriveforbusiness"}},"shared_onedriveforbusiness_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hd_sharedonedriveforbusiness_20308"},"api":{"name":"shared_onedriveforbusiness"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_created,_updated_or_deleted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"cr36b_praksesnotikums","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"concurrency":{"runs":1}}}},"actions":{"dabū_prakses_programmas_xlsx_metadata":{"runAfter":{"get_prakses_notikums_info":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"annotations","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n<entity name=\"annotation\">\n<attribute name=\"filename\"/>\n<attribute name=\"documentbody\"/>\n<filter>\n<condition attribute=\"filename\" operator=\"eq\" value=\"prakses programma.xlsx\"/>\n</filter>\n</entity>\n</fetch>","$top":1},"authentication":"@parameters('$authentication')"}},"delay_if_locked_2":{"runAfter":{"mēģina_updeitot_xlsx_failu":["Failed"]},"type":"Wait","inputs":{"interval":{"count":10,"unit":"Minute"}}},"List_prakses_programma_for_profesija":{"runAfter":{"get_profesijas_info":["Succeeded"]},"metadata":{"015R4W5BJ2LZI3OPL6PRCLZGOQOT4ZH7PX":"/prakses programma.xlsx","tableId":"{69AB8D60-D0D8-4C35-B958-1B3CD5BD8590}","015R4W5BNECLEVINTIDJB3X6E2W62WVLEK":"/prakses programma.xlsx","015R4W5BPDVPD5BWXHFNBKBMFG23M77AY4":"/prakses programma.xlsx","015R4W5BJVQ6F5UAWTNVGIPRS56OTX6J2A":"/prakses programma.xlsx","015R4W5BK2DXHEQS3RSZFJMJM7X5WIVDWM":"/prakses programma.xlsx","015R4W5BI3CCQGW32A4NH2YXGM5UW6ZID3":"/prakses programma.xlsx","015R4W5BLMLSW2AAIU2VGKMFDAGEYB67EZ":"/prakses programma.xlsx","015R4W5BNOJ6ZJ6GYVJJDJJ4CX44A6KZ4D":"/prakses programma.xlsx","01SLM2KIYAZ6WDB7E7XBG2KUPIEMSE5356":"/eprakse uploaded files/prakses programma.xlsx"},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_excelonlinebusiness","operationId":"GetItems","apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness"},"parameters":{"source":"me","drive":"b!6UU0GdzgT0Wvf-97zSQ3J3Si0QlIdwhDhkVmh_mTfj_S544ZoUmhSZiqz8J99sMj","file":"01SLM2KIYAZ6WDB7E7XBG2KUPIEMSE5356","table":"{69AB8D60-D0D8-4C35-B958-1B3CD5BD8590}"},"authentication":"@parameters('$authentication')"}},"create_a_row_for_prakses_programma_from_excel":{"foreach":"@body('Filter_array')","actions":{"create_an_ieraksts_in_skol_prof_dien_plans":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolasprofesijasdienasplanses","item/cr36b_nosaukums":"@items('create_a_row_for_prakses_programma_from_excel')?['Nosaukums']","item/cr36b_stundas":"@items('create_a_row_for_prakses_programma_from_excel')?['Stundas']"},"authentication":"@parameters('$authentication')"}},"relate_prakses_not_to_dienas_plans":{"runAfter":{"Relate_records":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_praksesnotikumses","recordId":"@triggerOutputs()?['body/cr36b_praksesnotikumsid']","associationEntityRelationship":"cr36b_SkolasProfesijasDienasPlans_Prakses","item/@odata.id":"@outputs('create_an_ieraksts_in_skol_prof_dien_plans')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"relate_account_to_dienas_plans":{"runAfter":{"relate_prakses_not_to_dienas_plans":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('get_contact_from_prakses_not')?['body/_parentcustomerid_value']","associationEntityRelationship":"cr36b_SkolasProfesijasDienasPlans_Account","item/@odata.id":"@outputs('create_an_ieraksts_in_skol_prof_dien_plans')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"Relate_records":{"runAfter":{"create_an_ieraksts_in_skol_prof_dien_plans":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_profesijases","recordId":"@outputs('get_profesijas_info')?['body/cr36b_profesijasid']","associationEntityRelationship":"cr36b_SkolasProfesijasDienasPlans_cr36b_P","item/@odata.id":"@outputs('create_an_ieraksts_in_skol_prof_dien_plans')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Filter_array":["Succeeded"]},"type":"Foreach"},"mēģina_updeitot_xlsx_failu":{"foreach":"@outputs('dabū_prakses_programmas_xlsx_metadata')?['body/value']","actions":{"Create_file":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_onedriveforbusiness_2","operationId":"CreateFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"},"parameters":{"folderPath":"/eprakse uploaded files","name":"@items('mēģina_updeitot_xlsx_failu')?['filename']","body":"@variables('aa')"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}}},"runAfter":{"Apply_to_each":["Succeeded"]},"type":"Foreach"},"mēģina_updeitot_xlsx_failu_2":{"foreach":"@outputs('dabū_prakses_programmas_xlsx_metadata')?['body/value']","actions":{"Create_file_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_onedriveforbusiness_1","operationId":"CreateFile","apiId":"/providers/Microsoft.PowerApps/apis/shared_onedriveforbusiness"},"parameters":{"folderPath":"/eprakse uploaded files","name":"@items('mēģina_updeitot_xlsx_failu_2')?['filename']","body":"@variables('aa')"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"contentTransfer":{"transferMode":"Chunked"}}}},"runAfter":{"delay_if_locked_2":["Succeeded"]},"type":"Foreach"},"Filter_array":{"runAfter":{"List_prakses_programma_for_profesija":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('List_prakses_programma_for_profesija')?['body/value']","where":"@not(equals(item()?['Nosaukums'], ''))"}},"Apply_to_each":{"foreach":"@outputs('dabū_prakses_programmas_xlsx_metadata')?['body/value']","actions":{"Compose":{"runAfter":{},"type":"Compose","inputs":"@base64ToBinary(items('Apply_to_each')?['documentbody'])"},"Set_variable":{"runAfter":{"Compose":["Succeeded"]},"type":"SetVariable","inputs":{"name":"aa","value":"@outputs('Compose')"}}},"runAfter":{"account":["Succeeded"]},"type":"Foreach"},"Delete_note":{"foreach":"@outputs('dabū_prakses_programmas_xlsx_metadata')?['body/value']","actions":{"Delete_a_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"annotations","recordId":"@items('Delete_note')?['annotationid']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"relate_act_feed_to_skolas_acc_prim_contact":["Succeeded"]},"type":"Foreach"},"xlsx_metadata":{"runAfter":{"dabū_prakses_programmas_xlsx_metadata":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"aa","type":"object"}]}},"account":{"runAfter":{"xlsx_metadata":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"account ar ko savienot","type":"string"}]}},"relate_account_to_prakses_notikums":{"runAfter":{"create_a_row_for_prakses_programma_from_excel":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('get_contact_from_prakses_not')?['body/_parentcustomerid_value']","associationEntityRelationship":"cr36b_PraksesNotikums_Account_Account","item/@odata.id":"@outputs('get_prakses_notikums_info')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"get_prakses_notikums_info":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_praksesnotikumses","recordId":"@triggerOutputs()?['body/cr36b_praksesnotikumsid']"},"authentication":"@parameters('$authentication')"}},"update_prakses_notikums":{"runAfter":{"relate_skolas_to_prakses_not":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_praksesnotikumses","recordId":"@outputs('get_prakses_notikums_info')?['body/cr36b_praksesnotikumsid']","item/cr36b_realskolasvards":"@outputs('get_skolas_info')?['body/cr36b_nosaukums']","item/cr36b_realprofesijasname":"@outputs('get_profesijas_info')?['body/cr36b_nosaukums']"},"authentication":"@parameters('$authentication')"}},"get_skolas_info":{"runAfter":{"relate_account_to_prakses_notikums":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolases","recordId":"@outputs('get_contact_from_prakses_not')?['body/_cr36b_skolas_value']"},"authentication":"@parameters('$authentication')"}},"get_contact_from_prakses_not":{"runAfter":{"mēģina_updeitot_xlsx_failu_2":["Succeeded","Skipped"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@outputs('get_prakses_notikums_info')?['body/_cr36b_contact_value']"},"authentication":"@parameters('$authentication')"}},"relate_skolas_to_prakses_not":{"runAfter":{"get_skolas_info":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolases","recordId":"@outputs('get_skolas_info')?['body/cr36b_skolasid']","associationEntityRelationship":"cr36b_PraksesNotikums_cr36b_Skolas_cr36b_","item/@odata.id":"@outputs('get_prakses_notikums_info')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"get_profesijas_info":{"runAfter":{"get_contact_from_prakses_not":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_profesijases","recordId":"@outputs('get_prakses_notikums_info')?['body/_cr36b_profesijas_value']"},"authentication":"@parameters('$authentication')"}},"Current_time":{"runAfter":{"update_prakses_notikums":["Succeeded"]},"type":"Expression","kind":"CurrentTime","inputs":{}},"create_activity_feed":{"runAfter":{"Convert_time_zone":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_activityfeeds","item/cr36b_datumsunlaiks":"@formatDateTime(body('Convert_time_zone'),'dd.MM.yyyy hh:mm')","item/cr36b_kodarija":"Izveidots jauns prakses notikums"},"authentication":"@parameters('$authentication')"}},"relate_act_feed_to_skolas_acc_prim_contact":{"runAfter":{"get_skolas_account":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@outputs('get_skolas_account')?['body/_primarycontactid_value']","associationEntityRelationship":"cr36b_kasredz","item/@odata.id":"@outputs('create_activity_feed')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"get_skolas_account":{"runAfter":{"create_activity_feed":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('get_skolas_info')?['body/_cr36b_account_value']"},"authentication":"@parameters('$authentication')"}},"Convert_time_zone":{"runAfter":{"Current_time":["Succeeded"]},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@body('Current_time')","formatString":"f","sourceTimeZone":"UTC","destinationTimeZone":"FLE Standard Time"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}