projekta faili/PPSolutions/Workflows/kadpieirlomasuznemumaprvaldniekulietotajiem-C3C1C600-132F-EB11-A813-000D3AB7CB08.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hd_sharedcommondataserviceforapps_c1dab"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"when_update_uznemums":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"contact","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"crc06_uznparvlomlietotajuparvaldnieks,crc06_uznparvlompraksuparvaldnieks,"},"authentication":"@parameters('$authentication')"}}},"actions":{"check_if_lietotaj_parvaldnieks":{"actions":{"Relate_records":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"adx_webroles","recordId":"5ce75752-102f-eb11-a813-000d3ab7cb08","associationEntityRelationship":"adx_webrole_contact","item/@odata.id":"@outputs('full_inf_on_contact')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"full_inf_on_contact":["Succeeded"]},"else":{"actions":{"Unrelate_records":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"DisassociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"adx_webroles","recordId":"5ce75752-102f-eb11-a813-000d3ab7cb08","associationEntityRelationship":"adx_webrole_contact","$id":"@outputs('full_inf_on_contact')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('full_inf_on_contact')?['body/crc06_uznparvlomlietotajuparvaldnieks']",true]},"type":"If"},"full_inf_on_contact":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@triggerOutputs()?['body/contactid']"},"authentication":"@parameters('$authentication')"}},"check_if_praks_parvaldnieks":{"actions":{"Relate_records_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"adx_webroles","recordId":"8ea33259-102f-eb11-a813-000d3ab7cb08","associationEntityRelationship":"adx_webrole_contact","item/@odata.id":"@outputs('full_inf_on_contact')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"check_if_lietotaj_parvaldnieks":["Succeeded"]},"else":{"actions":{"Unrelate_records_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"DisassociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"adx_webroles","recordId":"8ea33259-102f-eb11-a813-000d3ab7cb08","associationEntityRelationship":"adx_webrole_contact","$id":"@outputs('full_inf_on_contact')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('full_inf_on_contact')?['body/crc06_uznparvlompraksuparvaldnieks']",true]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}