projekta faili/PPSolutions/Workflows/Kaduznemumapraksesvaditajsizveidots-9D1E8215-74FE-EA11-A813-000D3AB8CD41.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hd_sharedcommondataserviceforapps_c1dab"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Kad_uznemuma_prakses_vaditajs_izveidots":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"cr36b_praksesvaditajsuznemuma","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"hopefully_get_odata_of_uznemuma_prakses_vaditajs":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_praksesvaditajsuznemumas","recordId":"@triggerOutputs()?['body/cr36b_praksesvaditajsuznemumaid']"},"authentication":"@parameters('$authentication')"}},"create_contact_for_prakses_vad_(uzņ)":{"runAfter":{"get_contact_which_created_prakses_vad":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","item/lastname":"@triggerOutputs()?['body/cr36b_uzvards']","item/emailaddress1":"@triggerOutputs()?['body/cr36b_epasts']","item/firstname":"@triggerOutputs()?['body/cr36b_vards']","item/jobtitle":"UZŅĒMUMA PRAKSES VADĪTĀJS","item/mobilephone":"@triggerOutputs()?['body/cr36b_talruni']"},"authentication":"@parameters('$authentication')"}},"relate_contact_to_business_account":{"runAfter":{"give_role_to_contact":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('get_contact_which_created_prakses_vad')?['body/_parentcustomerid_value']","associationEntityRelationship":"contact_customer_accounts","item/@odata.id":"@outputs('create_contact_for_prakses_vad_(uzņ)')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"give_role_to_contact":{"runAfter":{"create_contact_for_prakses_vad_(uzņ)":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"adx_webroles","recordId":"8f3607c1-a3ee-ea11-a817-000d3ab8cd41","associationEntityRelationship":"adx_webrole_contact","item/@odata.id":"@outputs('create_contact_for_prakses_vad_(uzņ)')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"get_contact_which_created_prakses_vad":{"runAfter":{"hopefully_get_odata_of_uznemuma_prakses_vaditajs":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@outputs('hopefully_get_odata_of_uznemuma_prakses_vaditajs')?['body/_cr36b_contact_value']"},"authentication":"@parameters('$authentication')"}},"relate_contact_to_accounts_for_visibility_purpouse":{"runAfter":{"relate_contact_to_business_account":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('get_contact_which_created_prakses_vad')?['body/_parentcustomerid_value']","associationEntityRelationship":"cr36b_related_accounts","item/@odata.id":"@outputs('create_contact_for_prakses_vad_(uzņ)')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}