projekta faili/PPSolutions/Workflows/kaduznpraksesvaditajsierakstavertejumu-BA3DB02E-4F18-EB11-A813-000D3AB8CD41.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"when_vertejums_ierakstits":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"cr36b_dienasgramatsieraksti","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"},"conditions":[{"expression":"@greater(triggerOutputs()?['body/cr36b_vertejums'],0)"}]}},"actions":{"Current_time":{"runAfter":{},"type":"Expression","kind":"CurrentTime","inputs":{}},"create_new_activity_feed_2":{"runAfter":{"Compose":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_activityfeeds","item/cr36b_datumsunlaiks":"@outputs('Compose')","item/cr36b_kodarija":"Ierakstīja vērtējumu - @{triggerOutputs()?['body/cr36b_vertejums']}, sekojošā datumā - @{triggerOutputs()?['body/cr36b_datumsreal']}"},"authentication":"@parameters('$authentication')"}},"relate_activity_feed_to_who_did_it_2":{"runAfter":{"create_new_activity_feed_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@triggerOutputs()?['body/_cr36b_contactwhichmodified_value']","associationEntityRelationship":"cr36b_Activityfeed_kasizpildija_Contact","item/@odata.id":"@outputs('create_new_activity_feed_2')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"relate_to_whoo_must_see":{"runAfter":{"relate_activity_feed_to_who_did_it_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@triggerOutputs()?['body/_cr36b_contact_value']","associationEntityRelationship":"cr36b_kasredz","item/@odata.id":"@outputs('create_new_activity_feed_2')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"get_dienasgramatas_skolnieka_praksi":{"runAfter":{"relate_to_whoo_must_see":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolniekaprakses","recordId":"@triggerOutputs()?['body/_cr36b_skolniekaprakse_value']"},"authentication":"@parameters('$authentication')"}},"Compose":{"runAfter":{"Convert_time_zone":["Succeeded"]},"type":"Compose","inputs":"@formatDateTime(body('Convert_time_zone'),'dd.MM.yyyy hh:mm')"},"Convert_time_zone":{"runAfter":{"Current_time":["Succeeded"]},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@body('Current_time')","formatString":"g","sourceTimeZone":"UTC","destinationTimeZone":"FLE Standard Time"}},"Relate_rows":{"runAfter":{"get_dienasgramatas_skolnieka_praksi":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@outputs('get_dienasgramatas_skolnieka_praksi')?['body/_crc06_contacttoskolprvad_value']","associationEntityRelationship":"cr36b_kasredz","item/@odata.id":"@outputs('create_new_activity_feed_2')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}