projekta faili/PPSolutions/Workflows/praksesvaditajipielikti-E139A149-0819-EB11-A813-000D3AB8CD41.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"when_prakses_vaditaji_pielikti":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"cr36b_skolniekaprakse","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"cr36b_praksesvaditajiskola,cr36b_contacttouznprvad,"},"authentication":"@parameters('$authentication')"},"conditions":[]}},"actions":{"if_prakses_vaditaji_skola_then_prakses_vaditaji_skola_else_prakses_vaditaji_uzn":{"actions":{"create_activity_feed_skolas_prakses_vad":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_activityfeeds","item/cr36b_datumsunlaiks":"@formatDateTime(body('Convert_time_zone'),'dd.MM.yyyy hh:mm')","item/cr36b_kodarija":"Piesaistits jauns praktikants pie jums"},"authentication":"@parameters('$authentication')"}},"get_prakses_vaditaji_skola_contact":{"runAfter":{"get_full_info_on_prakses_vaditaji_skola":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"contact\">\n    <attribute name=\"fullname\" />\n    <attribute name=\"telephone1\" />\n    <attribute name=\"contactid\" />\n    <order attribute=\"fullname\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"jobtitle\" operator=\"eq\" value=\"SKOLAS PRAKSES VADITAJS\" />\n      <condition attribute=\"firstname\" operator=\"eq\" value=\"@{outputs('get_full_info_on_prakses_vaditaji_skola')?['body/cr36b_vards']}\" />\n      <condition attribute=\"lastname\" operator=\"eq\" value=\"@{outputs('get_full_info_on_prakses_vaditaji_skola')?['body/cr36b_uzvards']}\" />\n      <condition attribute=\"mobilephone\" operator=\"eq\" value=\"@{outputs('get_full_info_on_prakses_vaditaji_skola')?['body/cr36b_talrunis']}\" />\n    </filter>\n  </entity>\n</fetch>","$top":1},"authentication":"@parameters('$authentication')"}},"get_full_info_on_prakses_vaditaji_skola":{"runAfter":{"create_activity_feed_skolas_prakses_vad":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_praksesvaditajiskolas","recordId":"@outputs('get_full_info_on_skolnieka_prakse')?['body/_cr36b_praksesvaditajiskola_value']"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('get_prakses_vaditaji_skola_contact')?['body/value']","actions":{"relate_act_feed_to_prakses_vaditaji_skola":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@items('Apply_to_each')?['contactid']","associationEntityRelationship":"cr36b_kasredz","item/@odata.id":"@outputs('create_activity_feed_skolas_prakses_vad')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"get_prakses_vaditaji_skola_contact":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Convert_time_zone":["Succeeded"]},"else":{"actions":{"create_activity_feed_uzn_prakses_vad":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_activityfeeds","item/cr36b_datumsunlaiks":"@formatDateTime(body('Convert_time_zone'),'dd.MM.yyyy hh:mm')","item/cr36b_kodarija":"Piesaistīts jauns prakikants"},"authentication":"@parameters('$authentication')"}},"relate_to_prakses_vad_uzn_contact":{"runAfter":{"create_activity_feed_uzn_prakses_vad":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@outputs('get_full_info_on_skolnieka_prakse')?['body/_cr36b_contacttouznprvad_value']","associationEntityRelationship":"cr36b_kasredz","item/@odata.id":"@outputs('create_activity_feed_uzn_prakses_vad')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}}},"expression":{"less":["@outputs('get_contact_which_modified')?['body/jobtitle']","'SKOLAS PRAKSES VADITAJS'"]},"type":"If"},"Current_time":{"runAfter":{"get_contact_which_modified":["Succeeded"]},"type":"Expression","kind":"CurrentTime","inputs":{}},"get_full_info_on_skolnieka_prakse":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolniekaprakses","recordId":"@triggerOutputs()?['body/cr36b_skolniekaprakseid']"},"authentication":"@parameters('$authentication')"}},"get_contact_which_modified":{"runAfter":{"get_full_info_on_skolnieka_prakse":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@outputs('get_full_info_on_skolnieka_prakse')?['body/_cr36b_contactwhichmodified_value']"},"authentication":"@parameters('$authentication')"}},"Convert_time_zone":{"runAfter":{"Current_time":["Succeeded"]},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@body('Current_time')","formatString":"f","sourceTimeZone":"UTC","destinationTimeZone":"FLE Standard Time"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}