projekta faili/PPSolutions/Workflows/savienotspecialitatiarbiznesaacc-9E1E8215-74FE-EA11-A813-000D3AB8CD41.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"impersonation":{},"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_created,_updated_or_deleted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"cr36b_specialitate","subscriptionRequest/scope":4,"subscriptionRequest/name":"9e1e8215-74fe-ea11-a813-000d3ab8cd41"},"authentication":"@parameters('$authentication')"}}},"actions":{"get_uznemuma_info":{"runAfter":{"Get_a_recordet_specialitate_info":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"GetItem"},"parameters":{"entityName":"cr36b_uznemumis","recordId":"@triggerOutputs()?['body/_cr36b_uznemumi_value']"},"authentication":"@parameters('$authentication')"}},"Relate_records":{"runAfter":{"get_uznemuma_info":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities"},"parameters":{"entityName":"accounts","recordId":"@outputs('get_uznemuma_info')?['body/_cr36b_account_value']","associationEntityRelationship":"cr36b_Specialitate_Account_Account","item/@odata.id":"@outputs('Get_a_recordet_specialitate_info')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"Get_a_recordet_specialitate_info":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"GetItem"},"parameters":{"entityName":"cr36b_specialitates","recordId":"@triggerOutputs()?['body/cr36b_specialitateid']"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}