projekta faili/PPSolutions/Workflows/savienopraktikantusarpraksesnotikumu-43CC342B-6A01-EB11-A813-000D3AB8CD41.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hd_sharedcommondataserviceforapps_c1dab"},"api":{"name":"shared_commondataserviceforapps"}},"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hd_sharedcommondataserviceforapps_5b78a"},"api":{"name":"shared_commondataserviceforapps"}},"shared_office365":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"new_sharedoffice365_09ffd"},"api":{"name":"shared_office365"}},"shared_commondataserviceforapps_2":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"new_sharedcommondataserviceforapps_ead29"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"when_pr_not_updated":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_2","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"cr36b_grupas","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"array_for_skolnieki":{"runAfter":{"get_prof_info":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"skolnieki","type":"array","value":[]}]}},"list_grupas_skolnieki":{"runAfter":{"array_for_skolnieki":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolniekses","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"cr36b_skolnieks\">\n    <attribute name=\"cr36b_skolnieksid\" />\n    <attribute name=\"cr36b_talrunis\" />\n    <attribute name=\"createdon\" />\n    <order attribute=\"cr36b_talrunis\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"cr36b_grupas\" operator=\"eq\" uitype=\"cr36b_grupas\" value=\"@{triggerOutputs()?['body/cr36b_grupasid']}\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"array_with_all_skolnieki_in_grupas_which_are_con_to_pr_not":{"foreach":"@outputs('list_grupas_skolnieki')?['body/value']","actions":{"Append_to_array_variable":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"skolnieki","value":{"skolnieks":"@{items('array_with_all_skolnieki_in_grupas_which_are_con_to_pr_not')?['cr36b_skolnieksid']}"}}}},"runAfter":{"list_grupas_skolnieki":["Succeeded"]},"type":"Foreach"},"Apply_to_each":{"foreach":"@variables('skolnieki')","actions":{"create_skolnieka_prakse":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolniekaprakses","item/cr36b_piekrisananouznemuma":121780002,"item/cr36b_uniqueid":"@{outputs('Get_skolas_info')?['body/cr36b_nosaukums']}, @{outputs('get_prof_info')?['body/cr36b_nosaukums']}, @{outputs('get_info_about_pr_not')?['body/cr36b_nosaukums']}"},"authentication":"@parameters('$authentication')"}},"relate_skoln_prakse_to_skol_acc":{"runAfter":{"get_skolnieka_info":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('get_skolnieka_info')?['body/_cr36b_account_value']","associationEntityRelationship":"cr36b_SkolniekaPrakse_SkolPrakToSkolAcc_A","item/@odata.id":"@outputs('create_skolnieka_prakse')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"get_skolnieka_info":{"runAfter":{"create_skolnieka_prakse":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolniekses","recordId":"@items('Apply_to_each')?['skolnieks']"},"authentication":"@parameters('$authentication')"}},"relate_to_prakses_notikums":{"runAfter":{"relate_skoln_prakse_to_skol_acc":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_praksesnotikumses","recordId":"@outputs('get_info_about_pr_not')?['body/cr36b_praksesnotikumsid']","associationEntityRelationship":"cr36b_SkolniekaPrakse_cr36b_PraksesNotiku","item/@odata.id":"@outputs('create_skolnieka_prakse')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"relate_skolnieks_to_skolnieka_prakse":{"runAfter":{"relate_to_prakses_notikums":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolniekses","recordId":"@outputs('get_skolnieka_info')?['body/cr36b_skolnieksid']","associationEntityRelationship":"cr36b_SkolniekaPrakse_cr36b_Skolnieks_cr3","item/@odata.id":"@outputs('create_skolnieka_prakse')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"Current_time":{"runAfter":{"Send_an_email_(V2)":["Succeeded"]},"type":"Expression","kind":"CurrentTime","inputs":{}},"create_activity_feed":{"runAfter":{"Convert_time_zone":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_activityfeeds","item/cr36b_datumsunlaiks":"@formatDateTime(body('Convert_time_zone'),'dd.MM.yyyy hh:mm')","item/cr36b_kodarija":"Savienoja jūs ar prakses notikumu - @{outputs('get_info_about_pr_not')?['body/cr36b_nosaukums']}"},"authentication":"@parameters('$authentication')"}},"kas_izpildija_darbibu":{"runAfter":{"create_activity_feed":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@outputs('get_info_about_pr_not')?['body/_cr36b_contact_value']","associationEntityRelationship":"cr36b_Activityfeed_kasizpildija_Contact","item/@odata.id":"@outputs('create_activity_feed')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"List_records":{"runAfter":{"kas_izpildija_darbibu":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"contact\">\n    <attribute name=\"fullname\" />\n    <attribute name=\"telephone1\" />\n    <attribute name=\"contactid\" />\n    <order attribute=\"fullname\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"jobtitle\" operator=\"eq\" value=\"PRAKTIKANTS\" />\n      <condition attribute=\"firstname\" operator=\"eq\" value=\"@{outputs('get_skolnieka_info')?['body/cr36b_vards']}\" />\n      <condition attribute=\"lastname\" operator=\"eq\" value=\"@{outputs('get_skolnieka_info')?['body/cr36b_uzvards']}\" />\n      <condition attribute=\"mobilephone\" operator=\"eq\" value=\"@{outputs('get_skolnieka_info')?['body/cr36b_talrunisreal']}\" />\n    </filter>\n  </entity>\n</fetch>","$top":1},"authentication":"@parameters('$authentication')"}},"Apply_to_each_2":{"foreach":"@outputs('List_records')?['body/value']","actions":{"Relate_records_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@items('Apply_to_each_2')?['contactid']","associationEntityRelationship":"cr36b_kasredz","item/@odata.id":"@outputs('create_activity_feed')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"update_praktikanta_contact":{"runAfter":{"get_augs_profe":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@items('Apply_to_each_2')?['contactid']","item/crc06_pieteiktaskompanijas":"@null","item/crc06_pieteikumiizsutiti":0,"item/crc06_praktikantapraksesprofesija":"@outputs('get_augs_profe')?['body/crc06_nosaukums']"},"authentication":"@parameters('$authentication')"}},"get_profesijas":{"runAfter":{"Relate_records_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_profesijases","recordId":"@outputs('get_info_about_pr_not')?['body/_cr36b_profesijas_value']"},"authentication":"@parameters('$authentication')"}},"get_augs_profe":{"runAfter":{"get_profesijas":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"crc06_augsprofesijases","recordId":"@outputs('get_profesijas')?['body/_crc06_augsprofesijas_value']"},"authentication":"@parameters('$authentication')"}},"Relate_records":{"runAfter":{"update_praktikanta_contact":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@outputs('update_praktikanta_contact')?['body/contactid']","associationEntityRelationship":"cr36b_SkolniekaPrakse_Contact_Contact","item/@odata.id":"@outputs('create_skolnieka_prakse')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_records":["Succeeded"]},"type":"Foreach"},"Convert_time_zone":{"runAfter":{"Current_time":["Succeeded"]},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@body('Current_time')","formatString":"f","sourceTimeZone":"UTC","destinationTimeZone":"FLE Standard Time"}},"Send_an_email_(V2)":{"runAfter":{"relate_skolnieks_to_skolnieka_prakse":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('get_skolnieka_info')?['body/cr36b_epasts']","emailMessage/Subject":"Savienojums ar praksi.","emailMessage/Body":"<p>Sveiki, @{outputs('get_skolnieka_info')?['body/crc06_fullname']}!<br>\n<br>\nJūs tikāt savienoti ar praksi, laiks izvēlēties savu prakses vietu!<br>\n<a href=\"https://epraksedev.powerappsportals.com/lv-LV/praktikanta-uznemumi-view/\">Spied šeit, lai redzētu visus uzņēmumus, kas meklē meklē tavu profesiju!</a><br>\n<br>\nAr cieņu, <br>\n<a href=\"https://epraksedev.powerappsportals.com/\">eprakse.lv</a></p>"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"array_with_all_skolnieki_in_grupas_which_are_con_to_pr_not":["Succeeded"]},"type":"Foreach"},"get_info_about_pr_not":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_praksesnotikumses","recordId":"@triggerOutputs()?['body/_cr36b_praksesnotikumsgrupas_value']"},"authentication":"@parameters('$authentication')"}},"Get_skolas_info":{"runAfter":{"get_info_about_pr_not":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolases","recordId":"@outputs('get_info_about_pr_not')?['body/cr36b_nosaukums']"},"authentication":"@parameters('$authentication')"}},"get_prof_info":{"runAfter":{"Get_skolas_info":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_profesijases","recordId":"@outputs('get_info_about_pr_not')?['body/_cr36b_profesijas_value']"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}