projekta faili/PPSolutions/Workflows/WhenSchoolApplied-AFD07371-72F6-EA11-A815-000D3AB8CD41.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hd_sharedcommondataserviceforapps_c1dab"},"api":{"name":"shared_commondataserviceforapps"}},"shared_sendmail":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hd_sharedsendmail_7ff10"},"api":{"name":"shared_sendmail"}},"shared_office365":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"new_sharedoffice365_09ffd"},"api":{"name":"shared_office365"}},"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hd_sharedcommondataserviceforapps_5b78a"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Kad_Skola_piesakās":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"cr36b_pieteikusasskolas","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"List_records":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolases","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinc=\"false\">\n<entity name=\"cr36b_skolas\">\n<attribute name=\"cr36b_nosaukums\"/>\n<filter type=\"and\">\n<condition attribute=\"cr36b_nosaukums\" operator=\"eq\" value=\"@{triggerOutputs()?['body/cr36b_nosaukums']}\"/>\n</filter>\n</entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Send_an_email_notification_(V3)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@{triggerOutputs()?['body/cr36b_epasts']};","request/subject":"Pieteikums atteikts.","request/text":"<p>Jūsu skola jau ir reģistrēta, ja jūs savu skolu nereģistrējāt, tad sazinaties ar administrātoru: 321315</p>"},"authentication":"@parameters('$authentication')"}},"Terminate":{"runAfter":{"Send_an_email_notification_(V3)":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{"List_records":["Succeeded"]},"expression":{"equals":["@empty(outputs('List_records')?['body/value'])",false]},"type":"If"},"Jauns_Pieteikums":{"runAfter":{"Condition":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendMailWithOptions","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"optionsEmailSubscription/Message/To":"kristaps.druva@hortusdigital.com","optionsEmailSubscription/Message/Subject":"Jauna Skola pieteicās.","optionsEmailSubscription/Message/Options":"Jā, Nē","optionsEmailSubscription/Message/Body":"Skola: @{triggerOutputs()?['body/cr36b_nosaukums']}<br>\nPieteicās lietotāja izveidei. <br>\nInformācija: <br>\n  epasts - @{triggerOutputs()?['body/cr36b_epasts']}<br>\n  kontakt talrunis -  @{triggerOutputs()?['body/cr36b_kontakttalrunis']}","optionsEmailSubscription/Message/Importance":"Normal","optionsEmailSubscription/Message/UseOnlyHTMLMessage":true,"optionsEmailSubscription/Message/HideHTMLMessage":false,"optionsEmailSubscription/Message/ShowHTMLConfirmationDialog":false},"authentication":"@parameters('$authentication')"}},"Vai_apstiprināja_2":{"actions":{"Pieteikums_pieņemts_2":{"runAfter":{"Relate_records_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@{triggerOutputs()?['body/cr36b_epasts']};","request/subject":"Pieteikums pieņemts.","request/text":"<p>Jusu pieteikums tika apskatīts, un tas tika pieņemts.<br>\n<br>\nPēc brīža jums tiks atsūtīts link ar ko, jūs varat veikt reģistrāciju.</p>"},"authentication":"@parameters('$authentication')"}},"Izdzēst_no_pieteiktajiem_4":{"runAfter":{"Pieteikums_pieņemts_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_pieteikusasskolases","recordId":"@triggerOutputs()?['body/cr36b_pieteikusasskolasid']"},"authentication":"@parameters('$authentication')"}},"Ielikt_datubaze_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolases","item/cr36b_domeins":"@triggerOutputs()?['body/cr36b_domeins']","item/cr36b_epasts":"@triggerOutputs()?['body/cr36b_epasts']","item/crc06_ielasnosaukums":"@triggerOutputs()?['body/crc06_ielasnosaukums']","item/cr36b_kontakttalrunis":"@triggerOutputs()?['body/cr36b_kontakttalrunis']","item/cr36b_nosaukums":"@triggerOutputs()?['body/cr36b_nosaukums']","item/crc06_pilseta":"@triggerOutputs()?['body/crc06_pilseta']","item/crc06_regions":"@triggerOutputs()?['body/crc06_regions']"},"authentication":"@parameters('$authentication')"}},"Create_a_new_contact_priekš_skolas_administrātora":{"runAfter":{"Relate_records_3":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","item/lastname":"Administrātors","item/emailaddress1":"@triggerOutputs()?['body/cr36b_epasts']","item/firstname":"@triggerOutputs()?['body/cr36b_nosaukums']","item/jobtitle":"MACIBU DALA","item/mobilephone":"@triggerOutputs()?['body/cr36b_kontakttalrunis']"},"authentication":"@parameters('$authentication')"}},"sasaista_skolas_administrātoru_ar_skolu":{"runAfter":{"Create_a_new_contact_priekš_skolas_administrātora":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolases","recordId":"@outputs('Ielikt_datubaze_2')?['body/cr36b_skolasid']","associationEntityRelationship":"cr36b_Contact_cr36b_Skolas_cr36b_Skolas","item/@odata.id":"@outputs('Create_a_new_contact_priekš_skolas_administrātora')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"Relate_records":{"runAfter":{"sasaista_skolas_administrātoru_ar_skolu":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"adx_webroles","recordId":"d9cda5c9-a3ee-ea11-a817-000d3ab8cd41","associationEntityRelationship":"adx_webrole_contact","item/@odata.id":"@outputs('Create_a_new_contact_priekš_skolas_administrātora')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"Give_account_Primary_contact,_admin":{"runAfter":{"Relate_account_to_skola":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@outputs('Create_a_new_contact_priekš_skolas_administrātora')?['body/contactid']","associationEntityRelationship":"account_primary_contact","item/@odata.id":"@outputs('Create_an_account_for_the_school')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"Create_an_account_for_the_school":{"runAfter":{"Relate_records":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","item/name":"@triggerOutputs()?['body/cr36b_nosaukums']","item/websiteurl":"@triggerOutputs()?['body/cr36b_domeins']"},"authentication":"@parameters('$authentication')"}},"Relate_account_to_skola":{"runAfter":{"Create_an_account_for_the_school":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Create_an_account_for_the_school')?['body/accountid']","associationEntityRelationship":"cr36b_Skolas_Account_Account","item/@odata.id":"@outputs('Ielikt_datubaze_2')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"Relate_records_2":{"runAfter":{"Give_account_Primary_contact,_admin":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Create_an_account_for_the_school')?['body/accountid']","associationEntityRelationship":"contact_customer_accounts","item/@odata.id":"@outputs('Create_a_new_contact_priekš_skolas_administrātora')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"Relate_records_3":{"runAfter":{"Ielikt_datubaze_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"crc06_novadis","recordId":"@triggerOutputs()?['body/_crc06_novads_value']","associationEntityRelationship":"crc06_cr36b_Skolas_Novads_crc06_Novadi","item/@odata.id":"@outputs('Ielikt_datubaze_2')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Jauns_Pieteikums":["Succeeded"]},"else":{"actions":{"Pieteikums_atteikts_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@{triggerOutputs()?['body/cr36b_epasts']};","request/subject":"Pieteikums atteikts.","request/text":"<p>Jusu pieteikums tika apskatīts, un tas tika atteikts, ja gribat, jūs varat veikt pieteikumu no jauna.</p>"},"authentication":"@parameters('$authentication')"}},"Izdzēst_no_pieteiktajiem_3":{"runAfter":{"Pieteikums_atteikts_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_pieteikusasskolases","recordId":"@triggerOutputs()?['body/cr36b_pieteikusasskolasid']"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('Jauns_Pieteikums')?['body/SelectedOption']","Jā"]},"type":"If"},"Pieteikums_timed_out_2":{"runAfter":{"Jauns_Pieteikums":["Failed","Skipped","TimedOut"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@{triggerOutputs()?['body/cr36b_epasts']};","request/subject":"Pieteikums atteikts.","request/text":"<p>Jusu pieteikums netika apskatīts, līdz ar to tas tika atteikts, ja gribat, jūs varat veikt pieteikumu no jauna.</p>"},"authentication":"@parameters('$authentication')"}},"Izdzēst_no_pieteikumiem_2":{"runAfter":{"Pieteikums_timed_out_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_pieteikusasskolases","recordId":"@triggerOutputs()?['body/cr36b_pieteikusasskolasid']"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}