projekta faili/PPSolutions/Workflows/whenskolniekaprakseupdatedpiekristnepiekrist-193B7078-0603-EB11-A813-000D3AB8CD41.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hd_sharedcommondataserviceforapps_c1dab"},"api":{"name":"shared_commondataserviceforapps"}},"shared_office365":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"new_sharedoffice365_09ffd"},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"when_skolnieka_prakse_updated":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"cr36b_skolniekaprakse","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"},"conditions":[{"expression":"@or(equals(triggerBody()?['cr36b_piekrisananouznemuma'],121780000),equals(triggerBody()?['cr36b_piekrisananouznemuma'],121780001),equals(triggerBody()?['cr36b_piekrisananouznemuma'],121780005))"},{"expression":"@not(equals(triggerOutputs()?['body/_modifiedby_value'],'da900932-c3e9-ea11-a817-000d3a654afa'))"}]}},"actions":{"dabūt_prakses_notikumu":{"runAfter":{"get_info_on_uznemumi":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_praksesnotikumses","recordId":"@triggerOutputs()?['body/_cr36b_praksesnotikums_value']"},"authentication":"@parameters('$authentication')"}},"get_profesija":{"runAfter":{"dabūt_prakses_notikumu":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_profesijases","recordId":"@outputs('dabūt_prakses_notikumu')?['body/_cr36b_profesijas_value']"},"authentication":"@parameters('$authentication')"}},"piekrišana_no_uznemuma":{"runAfter":{"get_uznemuma_account":["Succeeded"]},"cases":{"Piekrists":{"case":121780000,"actions":{"list_skolas_profesijas_dienas_plans":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolasprofesijasdienasplanses","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n<entity name=\"cr36b_skolasprofesijasdienasplans\">\n<attribute name=\"cr36b_nosaukums\"/>\n<attribute name=\"cr36b_izmantotasstundas\"/>\n<attribute name=\"cr36b_stundas\"/>\n<attribute name=\"cr36b_profesijas\"/>\n<filter>\n<condition attribute=\"cr36b_profesijas\" operator=\"eq\" value=\"@{outputs('dabūt_prakses_notikumu')?['body/_cr36b_profesijas_value']}\"/>\n</filter>\n</entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('list_skolas_profesijas_dienas_plans')?['body/value']","actions":{"ieraksts_skolnieka_stundas":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolniekastundases","item/cr36b_skolnieks":"@items('Apply_to_each')?['cr36b_nosaukums']","item/cr36b_nostradatasstundas":0},"authentication":"@parameters('$authentication')"}},"relate_to_skolnieks":{"runAfter":{"ieraksts_skolnieka_stundas":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolniekses","recordId":"@triggerOutputs()?['body/_cr36b_skolnieks_value']","associationEntityRelationship":"cr36b_skolniekastundas_cr36b_SkolnieksH_c","item/@odata.id":"@outputs('ieraksts_skolnieka_stundas')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"Relate_to_dienas_plans":{"runAfter":{"relate_to_skolnieks":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolasprofesijasdienasplanses","recordId":"@items('Apply_to_each')?['cr36b_skolasprofesijasdienasplansid']","associationEntityRelationship":"cr36b_skolniekastundas_cr36b_SkolasProfes","item/@odata.id":"@outputs('ieraksts_skolnieka_stundas')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"relate_to_skolas_account":{"runAfter":{"Relate_to_dienas_plans":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('get_skolnieka_info')?['body/_cr36b_account_value']","associationEntityRelationship":"cr36b_skolniekastundas_Account_Account","item/@odata.id":"@outputs('ieraksts_skolnieka_stundas')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_2":{"foreach":"@outputs('list_praktikanta_contact')?['body/value']","actions":{"relate_to_praktikanta_contact":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@items('Apply_to_each_2')?['contactid']","associationEntityRelationship":"cr36b_skolniekastundas_Contact_Contact","item/@odata.id":"@outputs('ieraksts_skolnieka_stundas')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Apply_to_each_3":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":20}}},"Apply_to_each_3":{"foreach":"@outputs('get_uznemuma_account')?['body/value']","actions":{"relate_to_biznesa_account":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@items('Apply_to_each_3')?['accountid']","associationEntityRelationship":"cr36b_skolniekastundas_Account_Account","item/@odata.id":"@outputs('ieraksts_skolnieka_stundas')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Relate_records_3":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":20}}},"Relate_records_3":{"runAfter":{"relate_to_skolas_account":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolniekaprakses","recordId":"@outputs('get_info_about_skolnieka_prakse')?['body/cr36b_skolniekaprakseid']","associationEntityRelationship":"cr36b_skolniekastundas_cr36b_SkolniekaPra","item/@odata.id":"@outputs('ieraksts_skolnieka_stundas')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Update_a_record":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":20}}},"list_praktikanta_contact":{"runAfter":{"list_skolas_profesijas_dienas_plans":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n<entity name=\"contact\">\n<attribute name=\"contactid\"/>\n<attribute name=\"firstname\"/>\n<attribute name=\"lastname\"/>\n<attribute name=\"fullname\"/>\n<attribute name=\"mobilephone\"/>\n<attribute name=\"emailaddress1\"/>\n<filter>\n<condition attribute=\"emailaddress1\" operator=\"eq\" value=\"@{outputs('get_skolnieka_info')?['body/cr36b_epasts']}\"/>\n<condition attribute=\"firstname\" operator=\"eq\" value=\"@{outputs('get_skolnieka_info')?['body/cr36b_vards']}\"/>\n<condition attribute=\"lastname\" operator=\"eq\" value=\"@{outputs('get_skolnieka_info')?['body/cr36b_uzvards']}\"/>\n<condition attribute=\"mobilephone\" operator=\"eq\" value=\"@{outputs('get_skolnieka_info')?['body/cr36b_talrunisreal']}\"/>\n</filter>\n</entity>\n</fetch>","$top":1},"authentication":"@parameters('$authentication')"}},"Apply_to_each_5":{"foreach":"@outputs('list_praktikanta_contact')?['body/value']","actions":{"Relate_records_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@items('Apply_to_each_5')?['contactid']","associationEntityRelationship":"cr36b_SkolniekaPrakse_Contact_Contact","item/@odata.id":"@outputs('get_info_about_skolnieka_prakse')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Apply_to_each_11":["Succeeded"]},"type":"Foreach","runtimeConfiguration":{"concurrency":{"repetitions":20}}},"Update_a_record":{"runAfter":{"list_praktikanta_contact":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolniekaprakses","recordId":"@outputs('get_info_about_skolnieka_prakse')?['body/cr36b_skolniekaprakseid']","item/cr36b_piekrisananouznemuma":121780003},"authentication":"@parameters('$authentication')"}},"get_company_prakses_vietas_for_specific_profesija":{"runAfter":{"Apply_to_each_5":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_praksesvietuskaitses","fetchXml":"<fetch mapping='logical'>  \n   <entity name='cr36b_praksesvietuskaits'>   \n      <attribute name='cr36b_account'/>   \n      <attribute name='cr36b_contact'/>   \n      <attribute name='cr36b_profesijas'/>   \n<attribute name='cr36b_uznemumi'/>   \n<attribute name='cr36b_vietuskaitsreal'/>   \n         <filter type='and'>   \n            <condition attribute='cr36b_uznemumi' operator='eq' value='@{outputs('Update_a_record')?['body/_cr36b_uznemumi_value']}' /> \n<condition attribute='cr36b_profesijas' operator='eq' value='@{outputs('get_profesija')?['body/cr36b_profesijasid']}' /> \n          </filter>   \n   </entity>   \n</fetch>  ","$top":1},"authentication":"@parameters('$authentication')"}},"Apply_to_each_4":{"foreach":"@outputs('get_company_prakses_vietas_for_specific_profesija')?['body/value']","actions":{"update_available_space_of_prakses_vietas":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_praksesvietuskaitses","recordId":"@items('Apply_to_each_4')?['cr36b_praksesvietuskaitsid']","item/cr36b_vietuskaitsreal":"@sub(items('Apply_to_each_4')?['cr36b_vietuskaitsreal'],1)"},"authentication":"@parameters('$authentication')"},"description":"sub(items('Apply_to_each_4')?['cr36b_vietuskaitsreal'],1)"}},"runAfter":{"get_company_prakses_vietas_for_specific_profesija":["Succeeded"]},"type":"Foreach"},"create_activity":{"runAfter":{"Convert_time_zone":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_activityfeeds","item/cr36b_datumsunlaiks":"@formatDateTime(body('Convert_time_zone'),'dd.MM.yyyy hh:mm')\r\n","item/cr36b_kodarija":"Uzņēmums apstiprināja praksi"},"authentication":"@parameters('$authentication')"}},"Current_time":{"runAfter":{"Apply_to_each_14":["Succeeded"]},"type":"Expression","kind":"CurrentTime","inputs":{}},"Apply_to_each_7":{"foreach":"@outputs('list_praktikanta_contact')?['body/value']","actions":{"Relate_records_4":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@items('Apply_to_each_7')?['contactid']","associationEntityRelationship":"cr36b_kasredz","item/@odata.id":"@outputs('create_activity')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Apply_to_each_8":["Succeeded"]},"type":"Foreach"},"Apply_to_each_8":{"foreach":"@outputs('get_uznemuma_account')?['body/value']","actions":{"Relate_records_6":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@items('Apply_to_each_8')?['accountid']","associationEntityRelationship":"cr36b_Activityfeed_izpilditajaparentacc_A","item/@odata.id":"@outputs('create_activity')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"create_activity":["Succeeded"]},"type":"Foreach"},"Convert_time_zone":{"runAfter":{"Current_time":["Succeeded"]},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@body('Current_time')","formatString":"g","sourceTimeZone":"UTC","destinationTimeZone":"FLE Standard Time"}},"Apply_to_each_11":{"foreach":"@outputs('get_uznemuma_account')?['body/value']","actions":{"relate_uzn_acc_to_skoln_prakse":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@items('Apply_to_each_11')?['accountid']","associationEntityRelationship":"cr36b_SkolniekaPrakse_SkolPrakToBisAcc_Ac","item/@odata.id":"@outputs('get_info_about_skolnieka_prakse')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Apply_to_each":["Succeeded"]},"type":"Foreach"},"Apply_to_each_12":{"foreach":"@outputs('list_praktikanta_contact')?['body/value']","actions":{"List_recordst_all_praktikanta_pieteikumi":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"crc06_praktikantapieteikumis","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"crc06_praktikantapieteikumi\">\n    <attribute name=\"crc06_praktikantapieteikumiid\" />\n    <attribute name=\"crc06_pieteikums\" />\n    <attribute name=\"createdon\" />\n    <order attribute=\"crc06_pieteikums\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"hd_praktikants\" operator=\"eq\" uitype=\"contact\" value=\"@{items('Apply_to_each_12')?['contactid']}\" />\n      <condition attribute=\"hd_cr36b_skolniekaprakse\" operator=\"eq\" value=\"@{outputs('get_info_about_skolnieka_prakse')?['body/cr36b_skolniekaprakseid']}\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_13":{"foreach":"@outputs('List_recordst_all_praktikanta_pieteikumi')?['body/value']","actions":{"delete_all_gotten_pieteikumi":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"crc06_praktikantapieteikumis","recordId":"@items('Apply_to_each_13')?['crc06_praktikantapieteikumiid']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_recordst_all_praktikanta_pieteikumi":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Apply_to_each_4":["Succeeded"]},"type":"Foreach"},"Apply_to_each_14":{"foreach":"@outputs('list_praktikanta_contact')?['body/value']","actions":{"update_contact_to_5_prakt_piet":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@items('Apply_to_each_14')?['contactid']","item/crc06_pieteikumiizsutiti":5},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Apply_to_each_12":["Succeeded"]},"type":"Foreach"}}},"Nepiekrists":{"case":121780001,"actions":{"set_skolnieka_prakse_to_pabegts_neg":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolniekaprakses","recordId":"@outputs('get_info_about_skolnieka_prakse')?['body/cr36b_skolniekaprakseid']","item/cr36b_piekrisananouznemuma":121780004},"authentication":"@parameters('$authentication')"}},"unrelate_uznemuma_acc":{"foreach":"@outputs('get_uznemuma_account')?['body/value']","actions":{"Unrelate_records_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"DisassociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@items('unrelate_uznemuma_acc')?['accountid']","associationEntityRelationship":"cr36b_SkolniekaPrakse_SkolPrakToBisAcc_Ac","$id":"@outputs('get_info_about_skolnieka_prakse')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"set_skolnieka_prakse_to_pabegts_neg":["Succeeded"]},"type":"Foreach"},"unrelate_uznemums":{"runAfter":{"unrelate_uznemuma_acc":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"DisassociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_uznemumis","recordId":"@outputs('get_info_on_uznemumi')?['body/cr36b_uznemumiid']","associationEntityRelationship":"cr36b_SkolniekaPrakse_cr36b_Uznemumi_cr36","$id":"@outputs('get_info_about_skolnieka_prakse')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"set_skolnieka_prakse_to_neizlemts":{"runAfter":{"unrelate_uznemums":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolniekaprakses","recordId":"@outputs('get_info_about_skolnieka_prakse')?['body/cr36b_skolniekaprakseid']","item/cr36b_piekrisananouznemuma":121780002},"authentication":"@parameters('$authentication')"}},"Current_time_2":{"runAfter":{"set_skolnieka_prakse_to_neizlemts":["Succeeded"]},"type":"Expression","kind":"CurrentTime","inputs":{}},"Create_a_new_record":{"runAfter":{"Convert_time_zone_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_activityfeeds","item/cr36b_datumsunlaiks":"@formatDateTime(body('Convert_time_zone_2'),'dd.MM.yyyy hh:mm')","item/cr36b_kodarija":"Uzņēmums atteica praksi"},"authentication":"@parameters('$authentication')"}},"Relate_records_5":{"runAfter":{"Create_a_new_record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@outputs('get_info_about_skolnieka_prakse')?['body/_cr36b_contact_value']","associationEntityRelationship":"cr36b_kasredz","item/@odata.id":"@outputs('Create_a_new_record')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_9":{"foreach":"@outputs('get_uznemuma_account')?['body/value']","actions":{"Relate_records_7":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@items('Apply_to_each_9')?['accountid']","associationEntityRelationship":"cr36b_Activityfeed_izpilditajaparentacc_A","item/@odata.id":"@outputs('Create_a_new_record')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Relate_records_5":["Succeeded"]},"type":"Foreach"},"Convert_time_zone_2":{"runAfter":{"Current_time_2":["Succeeded"]},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@body('Current_time_2')","formatString":"f","sourceTimeZone":"UTC","destinationTimeZone":"FLE Standard Time"}}}},"Uzzaicināts_uz_parrunām":{"case":121780005,"actions":{"Apply_to_each_6":{"foreach":"@outputs('get_praktikanta_contact')?['body/value']","actions":{"Relate_records":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@items('Apply_to_each_6')?['contactid']","associationEntityRelationship":"cr36b_SkolniekaPrakse_Contact_Contact","item/@odata.id":"@outputs('get_info_about_skolnieka_prakse')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"get_uzn_primary_contact":["Succeeded"]},"type":"Foreach"},"get_praktikanta_contact":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n<entity name=\"contact\">\n<attribute name=\"contactid\"/>\n<attribute name=\"firstname\"/>\n<attribute name=\"lastname\"/>\n<attribute name=\"fullname\"/>\n<attribute name=\"emailaddress1\"/>\n<filter>\n<condition attribute=\"emailaddress1\" operator=\"eq\" value=\"@{outputs('get_skolnieka_info')?['body/cr36b_epasts']}\"/>\n<condition attribute=\"firstname\" operator=\"eq\" value=\"@{outputs('get_skolnieka_info')?['body/cr36b_vards']}\"/>\n</filter>\n</entity>\n</fetch>","$top":1},"authentication":"@parameters('$authentication')"}},"update_skol_prakse_to_email_sent":{"runAfter":{"get_praktikanta_contact":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolniekaprakses","recordId":"@outputs('get_info_about_skolnieka_prakse')?['body/cr36b_skolniekaprakseid']","item/cr36b_piekrisananouznemuma":121780006},"authentication":"@parameters('$authentication')"}},"get_uzn_acc":{"foreach":"@outputs('get_uznemuma_account')?['body/value']","actions":{"Get_a_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@items('get_uzn_acc')?['accountid']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"update_skol_prakse_to_email_sent":["Succeeded"]},"type":"Foreach"},"get_uzn_primary_contact":{"foreach":"@outputs('get_uznemuma_account')?['body/value']","actions":{"get_pri_contact":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@items('get_uzn_primary_contact')?['_primarycontactid_value']"},"authentication":"@parameters('$authentication')"}},"Send_an_email_(V2)_2":{"runAfter":{"get_pri_contact":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('get_skolnieka_info')?['body/cr36b_epasts']","emailMessage/Subject":"Uzzaicinājums uz pārrunām.","emailMessage/Body":"<p>Sveiki!<br>\n<br>\nJūz uzzaicināja uz pārrunām @{outputs('get_info_on_uznemumi')?['body/cr36b_nosaukums']}.<br>\n<br>\nJūs varat sazināties ar uzņēmuma galveno kontaktpersonu ar šo informāciju:<br>\nTelefons - @{outputs('get_pri_contact')?['body/mobilephone']}<br>\nEpasts - @{outputs('get_pri_contact')?['body/emailaddress1']}</p>","emailMessage/From":"kristaps.druva@hortusdigital.com"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"get_uzn_acc":["Succeeded"]},"type":"Foreach"},"Current_time_3":{"runAfter":{"Apply_to_each_6":["Succeeded"]},"type":"Expression","kind":"CurrentTime","inputs":{}},"create_activity_2":{"runAfter":{"Convert_time_zone_3":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_activityfeeds","item/cr36b_datumsunlaiks":"@formatDateTime(body('Convert_time_zone_3'),'dd.MM.yyyy hh:mm')","item/cr36b_kodarija":"uzņēmums uzaicināja uz pārrunām"},"authentication":"@parameters('$authentication')"}},"relate_activity_to_who_needs_to_see":{"runAfter":{"create_activity_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@outputs('get_info_about_skolnieka_prakse')?['body/_cr36b_contact_value']","associationEntityRelationship":"cr36b_kasredz","item/@odata.id":"@outputs('create_activity_2')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_10":{"foreach":"@outputs('get_uznemuma_account')?['body/value']","actions":{"Relate_records_8":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@items('Apply_to_each_10')?['accountid']","associationEntityRelationship":"cr36b_Activityfeed_izpilditajaparentacc_A","item/@odata.id":"@outputs('create_activity_2')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"relate_activity_to_who_needs_to_see":["Succeeded"]},"type":"Foreach"},"Convert_time_zone_3":{"runAfter":{"Current_time_3":["Succeeded"]},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@body('Current_time_3')","formatString":"f","sourceTimeZone":"UTC","destinationTimeZone":"FLE Standard Time"}}}}},"default":{"actions":{}},"expression":"@outputs('get_info_about_skolnieka_prakse')?['body/cr36b_piekrisananouznemuma']","type":"Switch"},"get_skolnieka_info":{"runAfter":{"get_profesija":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolniekses","recordId":"@triggerOutputs()?['body/_cr36b_skolnieks_value']"},"authentication":"@parameters('$authentication')"}},"get_info_about_skolnieka_prakse":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolniekaprakses","recordId":"@triggerOutputs()?['body/cr36b_skolniekaprakseid']"},"authentication":"@parameters('$authentication')"}},"get_uznemuma_account":{"runAfter":{"get_skolnieka_info":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"account\">\n    <attribute name=\"name\" />\n    <attribute name=\"primarycontactid\" />\n    <attribute name=\"telephone1\" />\n    <attribute name=\"accountid\" />\n    <order attribute=\"name\" descending=\"false\" />\n    <filter type=\"and\">\n      <filter type=\"and\">\n        <condition attribute=\"name\" operator=\"eq\" value=\"@{outputs('get_info_on_uznemumi')?['body/cr36b_nosaukums']}\" />\n        <condition attribute=\"telephone1\" operator=\"eq\" value=\"@{outputs('get_info_on_uznemumi')?['body/cr36b_talrunis']}\" />\n      </filter>\n    </filter>\n  </entity>\n</fetch>","$top":1},"authentication":"@parameters('$authentication')"}},"get_info_on_uznemumi":{"runAfter":{"get_info_about_skolnieka_prakse":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_uznemumis","recordId":"@outputs('get_info_about_skolnieka_prakse')?['body/_cr36b_uznemumi_value']"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}