projekta faili/PPSolutions/Workflows/whensettingskolniekapraksesinfo-1A3B7078-0603-EB11-A813-000D3AB8CD41.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_created,_updated_or_deleted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"cr36b_skolniekaprakse","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"cr36b_uznemumi"},"authentication":"@parameters('$authentication')"},"conditions":[{"expression":"@equals(triggerOutputs()?['body/cr36b_piekrisananouznemuma'],121780002)"},{"expression":"@not(equals(triggerOutputs()?['body/_cr36b_praksesvaditajiskola_value'],null))"},{"expression":"@not(equals(triggerOutputs()?['body/_cr36b_uznemumi_value'],null))"}]}},"actions":{"get_info_about_skolnieka_prakse":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolniekaprakses","recordId":"@triggerOutputs()?['body/cr36b_skolniekaprakseid']"},"authentication":"@parameters('$authentication')"}},"get_info_on_uznemumi":{"runAfter":{"get_info_about_skolnieka_prakse":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_uznemumis","recordId":"@outputs('get_info_about_skolnieka_prakse')?['body/_cr36b_uznemumi_value']"},"authentication":"@parameters('$authentication')"}},"get_uznemuma_account":{"runAfter":{"get_info_on_uznemumi":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n<entity name=\"account\">\n<attribute name=\"name\"/>\n<filter>\n<condition attribute=\"name\" operator=\"eq\" value=\"@{outputs('get_info_on_uznemumi')?['body/cr36b_nosaukums']}\"/>\n</filter>\n</entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"relate_skol_prakse_to_bis_acc":{"foreach":"@outputs('get_uznemuma_account')?['body/value']","actions":{"Relate_records":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@items('relate_skol_prakse_to_bis_acc')?['accountid']","associationEntityRelationship":"cr36b_SkolniekaPrakse_SkolPrakToBisAcc_Ac","item/@odata.id":"@outputs('get_info_about_skolnieka_prakse')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"get_uznemuma_account":["Succeeded"]},"type":"Foreach"},"Current_time":{"runAfter":{"relate_skol_prakse_to_bis_acc":["Succeeded"]},"type":"Expression","kind":"CurrentTime","inputs":{}},"create_activity_feed":{"runAfter":{"Convert_time_zone":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_activityfeeds","item/cr36b_datumsunlaiks":"@formatDateTime(body('Convert_time_zone'),'dd.MM.yyyy hh:mm')","item/cr36b_kodarija":"Jauns praktikants pieteikts jusu uznemumam"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('get_uznemuma_account')?['body/value']","actions":{"relate_act_feed_to_uznemuma_prim_contact":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@items('Apply_to_each')?['_primarycontactid_value']","associationEntityRelationship":"cr36b_kasredz","item/@odata.id":"@outputs('create_activity_feed')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"create_activity_feed":["Succeeded"]},"type":"Foreach"},"Convert_time_zone":{"runAfter":{"Current_time":["Succeeded"]},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@body('Current_time')","formatString":"f","sourceTimeZone":"UTC","destinationTimeZone":"UTC"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}