projekta faili/PPSolutions/Workflows/whenskolpraksesvaditajsdeactorupd-2425968A-7935-EB11-A813-000D3AB7CB08.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"when_skolas_prakses_vaditajs_updated":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"cr36b_praksesvaditajiskola","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"phone":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"phone","type":"string"}]}},"Condition":{"actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"phone","value":"@triggerOutputs()?['body/cr36b_talrunis']"}}},"runAfter":{"phone":["Succeeded"]},"else":{"actions":{"Set_variable_2":{"runAfter":{},"type":"SetVariable","inputs":{"name":"phone","value":"@triggerOutputs()?['body/crc06_oldnumber']"}}}},"expression":{"equals":["@triggerOutputs()?['body/statecode']",1]},"type":"If"},"get_contact_of_it":{"runAfter":{"Condition":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"contact\">\n    <all-attributes></all-attributes>\n    <filter type=\"and\">\n      <condition attribute=\"firstname\" operator=\"eq\" value=\"@{triggerOutputs()?['body/cr36b_vards']}\" />\n      <condition attribute=\"lastname\" operator=\"eq\" value=\"@{triggerOutputs()?['body/cr36b_uzvards']}\" />\n      <condition attribute=\"mobilephone\" operator=\"eq\" value=\"@{variables('phone')}\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('get_contact_of_it')?['body/value']","actions":{"Update_a_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@items('Apply_to_each')?['contactid']","item/emailaddress1":"@triggerOutputs()?['body/cr36b_epasts']","item/mobilephone":"@variables('phone')","item/statecode":"@items('Apply_to_each')?['statecode']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"get_contact_of_it":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}