projekta faili/PPSolutions/Workflows/whennewpraktikantapraksespieteikumscreated-D01F453B-4E23-EB11-A813-002248993DCD.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hd_sharedcommondataserviceforapps_c1dab"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"when_pieteikums_izveidots":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"crc06_praktikantapieteikumi","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"get_full_info_about_pieteikums":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"crc06_praktikantapieteikumis","recordId":"@triggerOutputs()?['body/crc06_praktikantapieteikumiid']"},"authentication":"@parameters('$authentication')"}},"get_praktikanta_contact":{"runAfter":{"get_full_info_about_pieteikums":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@outputs('get_full_info_about_pieteikums')?['body/_hd_contactwhichcreated_value']"},"authentication":"@parameters('$authentication')"}},"get_praktikanta_company_":{"runAfter":{"get_praktikanta_contact":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('get_praktikanta_contact')?['body/_parentcustomerid_value']"},"authentication":"@parameters('$authentication')"}},"relate_to_uzn_acc":{"runAfter":{"get_uznemums":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('get_uznemums')?['body/_cr36b_account_value']","associationEntityRelationship":"hd_crc06_praktikantapieteikumi_uznemums_Acco","item/@odata.id":"@outputs('get_full_info_about_pieteikums')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"relate_to_praktikants":{"runAfter":{"relate_to_uzn_acc":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@outputs('get_praktikanta_contact')?['body/contactid']","associationEntityRelationship":"hd_crc06_praktikantapieteikumi_praktikants_C","item/@odata.id":"@outputs('get_full_info_about_pieteikums')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"get_uznemums":{"runAfter":{"get_praktikanta_company_":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_uznemumis","recordId":"@outputs('get_full_info_about_pieteikums')?['body/_crc06_cr36b_uznemumi_value']"},"authentication":"@parameters('$authentication')"}},"get_skolnieks_from_contact_info":{"runAfter":{"relate_to_praktikants":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolniekses","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"cr36b_skolnieks\">\n    <all-attributes></all-attributes>\n    <order attribute=\"cr36b_talrunis\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"cr36b_vards\" operator=\"eq\" value=\"@{outputs('get_praktikanta_contact')?['body/firstname']}\" />\n      <condition attribute=\"cr36b_uzvards\" operator=\"eq\" value=\"@{outputs('get_praktikanta_contact')?['body/lastname']}\" />\n      <condition attribute=\"cr36b_talrunisreal\" operator=\"eq\" value=\"@{outputs('get_praktikanta_contact')?['body/mobilephone']}\" />\n    </filter>\n  </entity>\n</fetch>","$top":1},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('get_skolnieks_from_contact_info')?['body/value']","actions":{"List_records":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolniekaprakses","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"cr36b_skolniekaprakse\">\n    <all-attributes></all-attributes>\n    <order attribute=\"cr36b_uniqueid\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"cr36b_skolnieks\" operator=\"eq\" uitype=\"cr36b_skolnieks\" value=\"@{items('Apply_to_each')?['cr36b_skolnieksid']}\" />\n    </filter>\n  </entity>\n</fetch>","$top":1},"authentication":"@parameters('$authentication')"}},"Apply_to_each_2":{"foreach":"@outputs('List_records')?['body/value']","actions":{"Relate_records":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_praksesnotikumses","recordId":"@items('Apply_to_each_2')?['_cr36b_praksesnotikums_value']","associationEntityRelationship":"hd_crc06_praktikantapieteikumi_cr36b_Prakses","item/@odata.id":"@outputs('get_full_info_about_pieteikums')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"Relate_records_2":{"runAfter":{"Relate_records":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolniekaprakses","recordId":"@items('Apply_to_each_2')?['cr36b_skolniekaprakseid']","associationEntityRelationship":"hd_crc06_praktikantapieteikumi_cr36b_Skolnie","item/@odata.id":"@outputs('get_full_info_about_pieteikums')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_records":["Succeeded"]},"type":"Foreach"}},"runAfter":{"get_skolnieks_from_contact_info":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}