projekta faili/PPSolutions/Workflows/whenpraksesnotikumsdeactivated-67E0DA2A-BD30-EB11-A813-002248993DCD.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hd_sharedcommondataserviceforapps_5b78a"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"when_prakses_notikums_deactivated":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"cr36b_praksesnotikums","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"},"conditions":[{"expression":"@equals(triggerBody()?['statecode'],1)"}]}},"actions":{"get_full_info_on_prakses_notikums":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_praksesnotikumses","recordId":"@triggerOutputs()?['body/cr36b_praksesnotikumsid']"},"authentication":"@parameters('$authentication')"}},"get_all_skolnieka_prakses_sasasititas_ar_prakses_not":{"runAfter":{"get_full_info_on_prakses_notikums":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolniekaprakses","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"cr36b_skolniekaprakse\">\n    <attribute name=\"cr36b_skolniekaprakseid\" />\n    <attribute name=\"cr36b_uznemumi\" />\n    <attribute name=\"cr36b_praksesvaditajiskola\" />\n    <filter type=\"and\">\n      <filter type=\"and\">\n        <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n        <condition attribute=\"cr36b_praksesnotikums\" operator=\"eq\" uiname=\"PRAK-1041\" uitype=\"cr36b_praksesnotikums\" value=\"@{outputs('get_full_info_on_prakses_notikums')?['body/cr36b_praksesnotikumsid']}\" />\n      </filter>\n    </filter>\n    <link-entity name=\"cr36b_praksesnotikums\" from=\"cr36b_praksesnotikumsid\" to=\"cr36b_praksesnotikums\" visible=\"false\" link-type=\"outer\" alias=\"a_528d6a29b8dd4b9ab82bc39a523728cd\">\n      <attribute name=\"cr36b_sakumadatums\" />\n      <attribute name=\"cr36b_beigudatums\" />\n      <attribute name=\"cr36b_realskolasvards\" />\n      <attribute name=\"cr36b_realprofesijasname\" />\n    </link-entity>\n    <link-entity name=\"cr36b_skolnieks\" from=\"cr36b_skolnieksid\" to=\"cr36b_skolnieks\" visible=\"false\" link-type=\"outer\" alias=\"a_81a874448c9d416981a0b8e168e836b0\">\n      <attribute name=\"cr36b_talrunis\" />\n      <attribute name=\"cr36b_vards\" />\n      <attribute name=\"cr36b_uzvards\" />\n    </link-entity>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('get_all_skolnieka_prakses_sasasititas_ar_prakses_not')?['body/value']","actions":{"get_all_dienasgramatas_ieraksi_sasaistits_ar_skol_prakse":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_dienasgramatsierakstis","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"cr36b_dienasgramatsieraksti\">\n    <attribute name=\"cr36b_dienasgramatsierakstiid\" />\n    <attribute name=\"cr36b_datums\" />\n    <attribute name=\"cr36b_darbusaku\" />\n    <attribute name=\"cr36b_darbubeidzu\" />\n    <attribute name=\"cr36b_praktikantakomentars\" />\n    <attribute name=\"cr36b_vertejums\" />\n    <attribute name=\"cr36b_vaditajakomentars\" />\n    <order attribute=\"cr36b_datums\" descending=\"true\" />\n    <filter type=\"and\">\n      <filter type=\"and\">\n        <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n        <condition attribute=\"cr36b_skolniekaprakse\" operator=\"eq\" uiname=\"SkolnPraks-1028\" uitype=\"cr36b_skolniekaprakse\" value=\"@{items('Apply_to_each')?['cr36b_skolniekaprakseid']}\" />\n      </filter>\n    </filter>\n    <link-entity name=\"cr36b_skolniekastundas\" from=\"cr36b_skolniekastundasid\" to=\"cr36b_skolniekastundas\" visible=\"false\" link-type=\"outer\" alias=\"a_460ad78e07104d7a99cd5df79b3635aa\">\n      <attribute name=\"cr36b_skolasprofesijasdienasplans\" />\n    </link-entity>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_2":{"foreach":"@outputs('get_all_dienasgramatas_ieraksi_sasaistits_ar_skol_prakse')?['body/value']","actions":{"Update_a_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_dienasgramatsierakstis","recordId":"@items('Apply_to_each_2')?['cr36b_dienasgramatsierakstiid']","item/statecode":1,"item/statuscode":2},"authentication":"@parameters('$authentication')"}}},"runAfter":{"get_all_dienasgramatas_ieraksi_sasaistits_ar_skol_prakse":["Succeeded"]},"type":"Foreach"},"Set_all_skolnieka_prakses_inactive":{"runAfter":{"Apply_to_each_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolniekaprakses","recordId":"@items('Apply_to_each')?['cr36b_skolniekaprakseid']","item/statecode":1,"item/statuscode":2},"authentication":"@parameters('$authentication')"}},"Get_all_skolnieka_stundas":{"runAfter":{"Set_all_skolnieka_prakses_inactive":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolniekastundases","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"cr36b_skolniekastundas\">\n    <attribute name=\"cr36b_skolniekastundasid\" />\n    <attribute name=\"cr36b_skolnieks\" />\n    <attribute name=\"createdon\" />\n    <order attribute=\"cr36b_skolnieks\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"cr36b_contact\" operator=\"eq\" uitype=\"contact\" value=\"@{items('Apply_to_each')?['_cr36b_contact_value']}\" />\n      <condition attribute=\"cr36b_skolniekaprakse\" operator=\"eq\" uitype=\"cr36b_skolniekaprakse\" value=\"@{items('Apply_to_each')?['cr36b_skolniekaprakseid']}\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_3":{"foreach":"@outputs('Get_all_skolnieka_stundas')?['body/value']","actions":{"Update_a_record_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolniekastundases","recordId":"@items('Apply_to_each_3')?['cr36b_skolniekastundasid']","item/statecode":1,"item/statuscode":2},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_all_skolnieka_stundas":["Succeeded"]},"type":"Foreach"}},"runAfter":{"get_all_skolnieka_prakses_sasasititas_ar_prakses_not":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}