projekta faili/PPSolutions/Workflows/Whenpraksuvietuskaitshasreachedzero-98EB1A71-1203-EB11-A813-000D3AB8CD41.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"new_sharedcommondataserviceforapps_ead29"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"when_praksu_vietu_skaits_hits_0":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"cr36b_praksesvietuskaits","subscriptionRequest/scope":4,"subscriptionRequest/filterexpression":"cr36b_vietuskaitsreal eq 0"},"authentication":"@parameters('$authentication')"},"conditions":[]}},"actions":{"list_all_skolnieka_prakses_applied_to_this_uznemums_with_specified_profesija":{"runAfter":{"Get_a_record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolniekaprakses","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"cr36b_skolniekaprakse\">\n    <attribute name=\"cr36b_skolniekaprakseid\" />\n    <attribute name=\"cr36b_uznemumi\" />\n    <attribute name=\"cr36b_praksesvaditajiskola\" />\n    <filter type=\"and\">\n      <filter type=\"and\">\n        <condition attribute=\"statecode\" operator=\"eq\" value=\"0\" />\n        <condition attribute=\"cr36b_piekrisananouznemuma\" operator=\"eq\" value=\"121780002\" />\n        <condition attribute=\"cr36b_praksesnotikums\" operator=\"not-null\" />\n      </filter>\n      <condition attribute=\"cr36b_uznemumi\" operator=\"eq\" uiname=\"@{triggerOutputs()?['body/_cr36b_uznemumi_value']}\" uitype=\"cr36b_uznemumi\" value=\"@{triggerOutputs()?['body/_cr36b_uznemumi_value']}\" />\n    </filter>\n    <link-entity name=\"cr36b_praksesnotikums\" from=\"cr36b_praksesnotikumsid\" to=\"cr36b_praksesnotikums\" link-type=\"inner\" alias=\"a_528d6a29b8dd4b9ab82bc39a523728cd\">\n      <attribute name=\"cr36b_sakumadatums\" />\n      <attribute name=\"cr36b_beigudatums\" />\n      <attribute name=\"cr36b_realskolasvards\" />\n      <attribute name=\"cr36b_realprofesijasname\" />\n      <filter type=\"and\">\n        <condition attribute=\"cr36b_profesijas\" operator=\"eq\" uiname=\"@{outputs('Get_a_record')?['body/cr36b_nosaukums']}\" uitype=\"cr36b_profesijas\" value=\"@{triggerOutputs()?['body/_cr36b_profesijas_value']}\" />\n      </filter>\n    </link-entity>\n    <link-entity name=\"cr36b_skolnieks\" from=\"cr36b_skolnieksid\" to=\"cr36b_skolnieks\" visible=\"false\" link-type=\"outer\" alias=\"a_81a874448c9d416981a0b8e168e836b0\">\n      <attribute name=\"cr36b_talrunis\" />\n      <attribute name=\"cr36b_vards\" />\n      <attribute name=\"cr36b_uzvards\" />\n    </link-entity>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"cancel_each_skolnieka_prakse":{"foreach":"@outputs('list_all_skolnieka_prakses_applied_to_this_uznemums_with_specified_profesija')?['body/value']","actions":{"Update_a_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolniekaprakses","recordId":"@items('cancel_each_skolnieka_prakse')?['cr36b_skolniekaprakseid']","item/cr36b_piekrisananouznemuma":121780001},"authentication":"@parameters('$authentication')"}}},"runAfter":{"list_all_skolnieka_prakses_applied_to_this_uznemums_with_specified_profesija":["Succeeded"]},"type":"Foreach"},"get_uznemums_which_is_related_to_praksu_vietu_skaits":{"runAfter":{"Get_a_record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_uznemumis","recordId":"@triggerOutputs()?['body/_cr36b_uznemumi_value']"},"authentication":"@parameters('$authentication')"}},"Get_a_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_profesijases","recordId":"@triggerOutputs()?['body/_cr36b_profesijas_value']"},"authentication":"@parameters('$authentication')"}},"Compose":{"runAfter":{"get_uznemums_which_is_related_to_praksu_vietu_skaits":["Succeeded"]},"type":"Compose","inputs":"@replace(outputs('get_uznemums_which_is_related_to_praksu_vietu_skaits')?['body/new_lookingfor'],outputs('Get_a_record')?['body/cr36b_nosaukums'],'')"},"update_uznemuma_looking_for":{"runAfter":{"Compose":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_uznemumis","recordId":"@outputs('get_uznemums_which_is_related_to_praksu_vietu_skaits')?['body/cr36b_uznemumiid']","item/new_lookingfor":"@outputs('Compose')"},"authentication":"@parameters('$authentication')"}},"delete_the_record_of_prakses_vietu_skaits":{"runAfter":{"update_uznemuma_looking_for":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_praksesvietuskaitses","recordId":"@triggerOutputs()?['body/cr36b_praksesvietuskaitsid']"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}