projekta faili/PPSolutions/Workflows/Whenskolotajapieteikumscreated-EE3DC940-230A-EB11-A813-000D3AB8CD41.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"new_sharedcommondataserviceforapps_ead29"},"api":{"name":"shared_commondataserviceforapps"}},"shared_office365":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"new_sharedoffice365_09ffd"},"api":{"name":"shared_office365"}},"shared_office365_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hd_sharedoffice365_b3487"},"api":{"name":"shared_office365"}},"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hd_sharedcommondataserviceforapps_5b78a"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"when_pieteikums_created":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"cr36b_pieteiktssavienosanai","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"get_skolas_information":{"runAfter":{"get_contact_which_created_pieteikums":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolases","recordId":"@triggerOutputs()?['body/_cr36b_skolas_value']"},"authentication":"@parameters('$authentication')"}},"get_contact_which_you_are_looking_for":{"runAfter":{"get_skolas_information":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n  <entity name=\"contact\">\n    <attribute name=\"fullname\" />\n    <attribute name=\"emailaddress1\" />\n    <attribute name=\"parentcustomerid\" />\n    <attribute name=\"telephone1\" />\n    <attribute name=\"statecode\" />\n    <attribute name=\"contactid\" />\n    <filter type=\"and\">\n      <filter type=\"and\">\n        <condition attribute=\"firstname\" operator=\"eq\" value=\"@{triggerOutputs()?['body/cr36b_vards']}\" />\n        <condition attribute=\"lastname\" operator=\"eq\" value=\"@{triggerOutputs()?['body/cr36b_uzvards']}\" />\n        <condition attribute=\"mobilephone\" operator=\"eq\" value=\"@{triggerOutputs()?['body/cr36b_talrunis']}\" />\n        <condition attribute=\"cr36b_skolas\" operator=\"eq\" uiname=\"SKOL-1050\" uitype=\"cr36b_skolas\" value=\"@{triggerOutputs()?['body/_cr36b_skolas_value']}\" />\n      </filter>\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"get_contact_which_created_pieteikums":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@triggerOutputs()?['body/_cr36b_contact_value']"},"authentication":"@parameters('$authentication')"}},"nesanaca_atrast_contact":{"runAfter":{"get_contact_which_you_are_looking_for":["Failed","Skipped","TimedOut"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('get_contact_which_created_pieteikums')?['body/emailaddress1']","emailMessage/Subject":"nesanāca dabūt skolotāja e-pastu.","emailMessage/Body":"<p>Mums nesanāca dabūt pieteiktā skolotāja epastu ar šo informāciju:<br>\nVārds - @{triggerOutputs()?['body/cr36b_vards']}<br>\nUzvārds -@{triggerOutputs()?['body/cr36b_uzvards']}<br>\nTālrunis - @{triggerOutputs()?['body/cr36b_talrunis']}<br>\nSkola - @{outputs('get_skolas_information')?['body/cr36b_nosaukums']}<br>\n<br>\nSazienaties ar mums:<br>\nkristaps.druva@hortusdigital.com<br>\n32152522</p>"},"authentication":"@parameters('$authentication')"}},"Terminate":{"runAfter":{"nesanaca_atrast_contact":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Cancelled"}},"send_an_email_to_skolas_prakses_vaditajs":{"foreach":"@outputs('get_contact_which_you_are_looking_for')?['body/value']","actions":{"Send_email_with_options":{"runAfter":{},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_office365_1","operationId":"SendMailWithOptions","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"optionsEmailSubscription/Message/To":"@items('send_an_email_to_skolas_prakses_vaditajs')?['emailaddress1']","optionsEmailSubscription/Message/Subject":"Jūs vēlas pievienot kā skolas prakses vadītāju.","optionsEmailSubscription/Message/Options":"Piekrist, Nepiekrist","optionsEmailSubscription/Message/Body":"@{outputs('get_skolas_information')?['body/cr36b_nosaukums']} vēlas jūs pievienot kā skolas prakses vadītāju. <br>\nPieteikumu veica: <br>\nVārds - @{outputs('get_contact_which_created_pieteikums')?['body/firstname']}<br>\nUzvārds - @{outputs('get_contact_which_created_pieteikums')?['body/lastname']}<br>\nTālrunis - @{outputs('get_contact_which_created_pieteikums')?['body/mobilephone']}<br>","optionsEmailSubscription/Message/Importance":"Normal","optionsEmailSubscription/Message/UseOnlyHTMLMessage":true,"optionsEmailSubscription/Message/HideHTMLMessage":false,"optionsEmailSubscription/Message/ShowHTMLConfirmationDialog":false},"authentication":"@parameters('$authentication')"}},"Set_variable":{"runAfter":{"Send_email_with_options":["Succeeded"]},"type":"SetVariable","inputs":{"name":"piekrišana","value":"@outputs('Send_email_with_options')?['body/SelectedOption']"}}},"runAfter":{"Terminate":["Skipped"]},"type":"Foreach"},"Condition":{"actions":{"notify_pieteicejs_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('get_contact_which_created_pieteikums')?['body/emailaddress1']","emailMessage/Subject":"Piekrists","emailMessage/Body":"<p>Prakses vadītājs:<br>\nVārds - @{triggerOutputs()?['body/cr36b_vards']}<br>\nUzvārds - @{triggerOutputs()?['body/cr36b_uzvards']}<br>\nTālrunis - @{triggerOutputs()?['body/cr36b_talrunis']}<br>\n<br>\nNo skolas - @{outputs('get_skolas_information')?['body/cr36b_nosaukums']}<br>\n<br>\nPiekrita jūsu pieteikumam - tālāk prakses vadītājs savā profila lapā varēs nomainīt kuras skolas datus viņš vēlas redzēt.</p>"},"authentication":"@parameters('$authentication')"}},"relate_contact_to_new_school":{"foreach":"@outputs('get_contact_which_you_are_looking_for')?['body/value']","actions":{"give_prakses_vad_capab_to_see_other_schools":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('get_contact_which_created_pieteikums')?['body/_parentcustomerid_value']","associationEntityRelationship":"cr36b_related_accounts","item/@odata.id":"@items('relate_contact_to_new_school')?['@odata.id']"},"authentication":"@parameters('$authentication')"}},"create_it_as_prakses_vaditajs":{"runAfter":{"give_prakses_vad_capab_to_see_other_schools":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_praksesvaditajiskolas","item/cr36b_talrunis":"@items('relate_contact_to_new_school')?['mobilephone']","item/cr36b_epasts":"@items('relate_contact_to_new_school')?['emailaddress1']","item/cr36b_uzvards":"@items('relate_contact_to_new_school')?['lastname']","item/cr36b_vards":"@items('relate_contact_to_new_school')?['firstname']"},"authentication":"@parameters('$authentication')"}},"relate_it_to_school":{"runAfter":{"get_prakses_vad_rec":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('get_contact_which_created_pieteikums')?['body/_parentcustomerid_value']","associationEntityRelationship":"cr36b_PraksesVaditajiskola_Account_Accoun","item/@odata.id":"@outputs('get_prakses_vad_rec')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"get_prakses_vad_rec":{"runAfter":{"create_it_as_prakses_vaditajs":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_praksesvaditajiskolas","recordId":"@outputs('create_it_as_prakses_vaditajs')?['body/cr36b_praksesvaditajiskolaid']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"notify_pieteicejs_2":["Succeeded"]},"type":"Foreach"}},"runAfter":{"send_an_email_to_skolas_prakses_vaditajs":["Succeeded"]},"else":{"actions":{"notify_pieteicejs":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendEmailV2","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"emailMessage/To":"@outputs('get_contact_which_created_pieteikums')?['body/emailaddress1']","emailMessage/Subject":"Nepiekrists","emailMessage/Body":"<p>Prakses vadītājs:<br>\nVārds - @{triggerOutputs()?['body/cr36b_vards']}<br>\nUzvārds - @{triggerOutputs()?['body/cr36b_uzvards']}<br>\nTālrunis - @{triggerOutputs()?['body/cr36b_talrunis']}<br>\n<br>\nNo skolas - @{outputs('get_skolas_information')?['body/cr36b_nosaukums']}<br>\n<br>\nNepiekrita jūsu pieteikumam</p>"},"authentication":"@parameters('$authentication')"}},"delete_the_pieteikums":{"runAfter":{"notify_pieteicejs":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_pieteiktssavienosanais","recordId":"@triggerOutputs()?['body/cr36b_pieteiktssavienosanaiid']"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@variables('piekrišana')","Piekrist"]},"type":"If"},"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"piekrišana","type":"string"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}