projekta faili/PPSolutions/Workflows/whenskolniekaprakseCreated-9B1E8215-74FE-EA11-A813-000D3AB8CD41.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"new_sharedcommondataserviceforapps_ead29"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"when_skolnieka_prakse_created":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"cr36b_skolniekaprakse","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"},"conditions":[]}},"actions":{"dabūt_prakses_notikumu":{"runAfter":{"get_info_on_uznemumi":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_praksesnotikumses","recordId":"@triggerOutputs()?['body/_cr36b_praksesnotikums_value']"},"authentication":"@parameters('$authentication')"}},"get_profesija":{"runAfter":{"dabūt_prakses_notikumu":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_profesijases","recordId":"@outputs('dabūt_prakses_notikumu')?['body/_cr36b_profesijas_value']"},"authentication":"@parameters('$authentication')"}},"get_skolnieka_info":{"runAfter":{"get_profesija":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolniekses","recordId":"@triggerOutputs()?['body/_cr36b_skolnieks_value']"},"authentication":"@parameters('$authentication')"}},"get_info_about_skolnieka_prakse":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_skolniekaprakses","recordId":"@triggerOutputs()?['body/cr36b_skolniekaprakseid']"},"authentication":"@parameters('$authentication')"}},"get_uznemuma_account":{"runAfter":{"get_skolnieka_info":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n<entity name=\"account\">\n<attribute name=\"name\"/>\n<filter>\n<condition attribute=\"name\" operator=\"eq\" value=\"@{outputs('get_info_on_uznemumi')?['body/cr36b_nosaukums']}\"/>\n</filter>\n</entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"get_info_on_uznemumi":{"runAfter":{"get_info_about_skolnieka_prakse":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_uznemumis","recordId":"@outputs('get_info_about_skolnieka_prakse')?['body/_cr36b_uznemumi_value']"},"authentication":"@parameters('$authentication')"}},"Relate_records_2":{"runAfter":{"Apply_to_each_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('get_skolnieka_info')?['body/_cr36b_account_value']","associationEntityRelationship":"cr36b_SkolniekaPrakse_SkolPrakToSkolAcc_A","item/@odata.id":"@outputs('get_info_about_skolnieka_prakse')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"list_praktikanta_contact":{"runAfter":{"Relate_records_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n<entity name=\"contact\">\n<attribute name=\"contactid\"/>\n<attribute name=\"firstname\"/>\n<attribute name=\"lastname\"/>\n<attribute name=\"fullname\"/>\n<attribute name=\"emailaddress1\"/>\n<filter>\n<condition attribute=\"emailaddress1\" operator=\"eq\" value=\"@{outputs('get_skolnieka_info')?['body/cr36b_epasts']}\"/>\n<condition attribute=\"firstname\" operator=\"eq\" value=\"@{outputs('get_skolnieka_info')?['body/cr36b_vards']}\"/>\n</filter>\n</entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('list_praktikanta_contact')?['body/value']","actions":{"Relate_records_3":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@items('Apply_to_each')?['contactid']","associationEntityRelationship":"cr36b_SkolniekaPrakse_Contact_Contact","item/@odata.id":"@outputs('get_info_about_skolnieka_prakse')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"list_praktikanta_contact":["Succeeded"]},"type":"Foreach"},"Apply_to_each_2":{"foreach":"@outputs('get_uznemuma_account')?['body/value']","actions":{"Relate_records":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@items('Apply_to_each_2')?['accountid']","associationEntityRelationship":"cr36b_SkolniekaPrakse_SkolPrakToBisAcc_Ac","item/@odata.id":"@outputs('get_info_about_skolnieka_prakse')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"get_uznemuma_account":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}