projekta faili/PPSolutions/Workflows/WhenCompanyApplied-B0D07371-72F6-EA11-A815-000D3AB8CD41.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hd_sharedcommondataserviceforapps_c1dab"},"api":{"name":"shared_commondataserviceforapps"}},"shared_sendmail":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hd_sharedsendmail_7ff10"},"api":{"name":"shared_sendmail"}},"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"hd_sharedcommondataserviceforapps_5b78a"},"api":{"name":"shared_commondataserviceforapps"}},"shared_office365":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"new_sharedoffice365_09ffd"},"api":{"name":"shared_office365"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Kad_kompānija_piesakās":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"cr36b_pieteikusieuznemumi","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Vai_apstiprināja":{"actions":{"Ielikt_datubāzē":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_uznemumis","item/cr36b_nosaukums":"@triggerOutputs()?['body/cr36b_nosakums']","item/cr36b_registracijasnr":"@triggerOutputs()?['body/cr36b_name']","item/cr36b_domeins":"@triggerOutputs()?['body/cr36b_domeins']","item/cr36b_epasts":"@triggerOutputs()?['body/cr36b_epasts']","item/crc06_ielasnosaukums":"@triggerOutputs()?['body/crc06_nosaukums']","item/cr36b_nozare":"@triggerOutputs()?['body/cr36b_nozare']","item/crc06_pilseta":"@triggerOutputs()?['body/crc06_pilseta']","item/cr36b_regions":"@triggerOutputs()?['body/cr36b_regions']","item/statuscode":1,"item/cr36b_talrunis":"@triggerOutputs()?['body/cr36b_talrunis']","item/timezoneruleversionnumber":"@triggerOutputs()?['body/timezoneruleversionnumber']","item/utcconversiontimezonecode":"@triggerOutputs()?['body/utcconversiontimezonecode']"},"authentication":"@parameters('$authentication')"}},"Pieteikums_pieņemts":{"runAfter":{"Relate_records":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@{triggerOutputs()?['body/cr36b_epasts']};","request/subject":"Pieteikums pieņemts.","request/text":"<p>Jusu pieteikums tika apskatīts, un tas tika pieņemts.<br>\n<br>\nPēc brīža jums tiks atsūtīts link ar ko, jūs varat veikt reģistrāciju.</p>"},"authentication":"@parameters('$authentication')"}},"Izdzēst_no_pieteiktajiem":{"runAfter":{"Pieteikums_pieņemts":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_pieteikusieuznemumis","recordId":"@triggerOutputs()?['body/cr36b_pieteikusieuznemumiid']"},"authentication":"@parameters('$authentication')"}},"Create_uznemuma_contact":{"runAfter":{"Relate_records_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","item/lastname":"administrātors","item/emailaddress1":"@triggerOutputs()?['body/cr36b_epasts']","item/jobtitle":"PĀRVALDNIEKA KONTS","item/mobilephone":"@triggerOutputs()?['body/cr36b_talrunis']"},"authentication":"@parameters('$authentication')"}},"sasaistits_uznemuma_administratoru_ar_vina_uznemumu":{"runAfter":{"Create_uznemuma_contact":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_uznemumis","recordId":"@outputs('Ielikt_datubāzē')?['body/cr36b_uznemumiid']","associationEntityRelationship":"cr36b_Contact_cr36b_Uznemumi_cr36b_Uznemumi","item/@odata.id":"@outputs('Create_uznemuma_contact')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"Iedot_lomu_uznemuma_administratoram":{"runAfter":{"sasaistits_uznemuma_administratoru_ar_vina_uznemumu":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"adx_webroles","recordId":"15b1c1bf-13f1-ea11-a815-000d3ab8cd41","associationEntityRelationship":"adx_webrole_contact","item/@odata.id":"@outputs('Create_uznemuma_contact')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"Create_account_for_business":{"runAfter":{"liet_parvl_loma_adminam":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","item/name":"@triggerOutputs()?['body/cr36b_nosakums']","item/telephone1":"@triggerOutputs()?['body/cr36b_talrunis']","item/websiteurl":"@triggerOutputs()?['body/cr36b_domeins']"},"authentication":"@parameters('$authentication')"}},"Iedot_accountam_primary_contact":{"runAfter":{"relate_uznemumi_to_uznemuma_account":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"contacts","recordId":"@outputs('Create_uznemuma_contact')?['body/contactid']","associationEntityRelationship":"account_primary_contact","item/@odata.id":"@outputs('Create_account_for_business')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"relate_uznemumi_to_uznemuma_account":{"runAfter":{"Create_account_for_business":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Create_account_for_business')?['body/accountid']","associationEntityRelationship":"cr36b_Uznemumi_Account_Account","item/@odata.id":"@outputs('Ielikt_datubāzē')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"Relate_records":{"runAfter":{"Iedot_accountam_primary_contact":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"accounts","recordId":"@outputs('Create_account_for_business')?['body/accountid']","associationEntityRelationship":"contact_customer_accounts","item/@odata.id":"@outputs('Create_uznemuma_contact')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"liet_parvl_loma_adminam":{"runAfter":{"Iedot_lomu_uznemuma_administratoram":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"adx_webroles","recordId":"5ce75752-102f-eb11-a813-000d3ab7cb08","associationEntityRelationship":"adx_webrole_contact","item/@odata.id":"@outputs('Create_uznemuma_contact')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"Relate_records_2":{"runAfter":{"Ielikt_datubāzē":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"crc06_novadis","recordId":"@triggerOutputs()?['body/_crc06_novadi_value']","associationEntityRelationship":"crc06_cr36b_Uznemumi_Novads_crc06_Novadi","item/@odata.id":"@outputs('Ielikt_datubāzē')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Send_email_with_options":["Succeeded"]},"else":{"actions":{"Pieteikums_atteikts":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@{triggerOutputs()?['body/cr36b_epasts']};","request/subject":"Pieteikums atteikts.","request/text":"<p>Jusu pieteikums tika apskatīts, un tas tika atteikts, ja gribat, jūs varat veikt pieteikumu no jauna.</p>"},"authentication":"@parameters('$authentication')"}},"Izdzēst_no_pieteiktajiem_2":{"runAfter":{"Pieteikums_atteikts":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_pieteikusieuznemumis","recordId":"@triggerOutputs()?['body/cr36b_pieteikusieuznemumiid']"},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@outputs('Send_email_with_options')?['body/SelectedOption']","Jā"]},"type":"If"},"Pieteikums_timed_out":{"runAfter":{"Send_email_with_options":["Failed","Skipped","TimedOut"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@{triggerOutputs()?['body/cr36b_epasts']};","request/subject":"Pieteikums atteikts.","request/text":"<p>Jusu pieteikums netika apskatīts, līdz ar to tas tika atteikts, ja gribat, jūs varat veikt pieteikumu no jauna.</p>"},"authentication":"@parameters('$authentication')"}},"Delete_a_record":{"runAfter":{"Pieteikums_timed_out":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_pieteikusieuznemumis","recordId":"@triggerOutputs()?['body/cr36b_pieteikusieuznemumiid']"},"authentication":"@parameters('$authentication')"}},"Send_email_with_options":{"runAfter":{"Condition":["Succeeded"]},"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_office365","operationId":"SendMailWithOptions","apiId":"/providers/Microsoft.PowerApps/apis/shared_office365"},"parameters":{"optionsEmailSubscription/Message/To":"kristaps.druva@hortusdigital.com","optionsEmailSubscription/Message/Subject":"Jauna kompānija pieteicās.","optionsEmailSubscription/Message/Options":"Jā, Nē","optionsEmailSubscription/Message/Body":"Kompanija: @{triggerOutputs()?['body/cr36b_nosakums']} <br>\nPieteicās lietotāja izveidei.<br>\nInformācija:<br>\n  nozare - @{triggerOutputs()?['body/cr36b_nozare']}<br>\n  reģions - @{triggerOutputs()?['body/cr36b_regions']}<br>\n  epasts - @{triggerOutputs()?['body/cr36b_epasts']}","optionsEmailSubscription/Message/Importance":"Normal","optionsEmailSubscription/Message/UseOnlyHTMLMessage":true,"optionsEmailSubscription/Message/HideHTMLMessage":false,"optionsEmailSubscription/Message/ShowHTMLConfirmationDialog":false},"authentication":"@parameters('$authentication')"}},"List_records":{"runAfter":{"Initialize_variable":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"cr36b_uznemumis","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinc=\"false\">\n<entity name=\"cr36b_uznemumi\">\n<attribute name=\"cr36b_registracijasnr\"/>\n<filter type=\"and\">\n<condition attribute=\"cr36b_registracijasnr\" operator=\"eq\" value=\"@{triggerOutputs()?['body/cr36b_name']}\"/>\n</filter>\n</entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Condition":{"actions":{"Send_an_email_notification_(V3)":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_sendmail","operationId":"SendEmailV3","apiId":"/providers/Microsoft.PowerApps/apis/shared_sendmail"},"parameters":{"request/to":"@{triggerOutputs()?['body/cr36b_epasts']};","request/subject":"Kompānija reģistrēta.","request/text":"<p>Jūsu kompānija jau ir reģistrēta, ja jūs to nereģistrējāt sazinaties ar mūsu administrāciju: 321312.</p>"},"authentication":"@parameters('$authentication')"}},"Terminate":{"runAfter":{"Send_an_email_notification_(V3)":["Succeeded"]},"type":"Terminate","inputs":{"runStatus":"Succeeded"}}},"runAfter":{"List_records":["Succeeded"]},"expression":{"equals":["@empty(outputs('List_records')?['body/value'])",false]},"type":"If"},"Initialize_variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"companyexists","type":"boolean","value":false}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}